
.table-responsive{
    overflow: hidden;
}

.row{
    margin-top : 30px;
}


h2{
    font-size : 18px;
    font-family : "Noto Sans KR";
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    
}
p{
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: center;
    font-size: 15px;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-size : 15px;
    font-family : "Noto Sans KR";
}

.cancel-del{
    width : 80px;
    height : 48px;
    font-size : 12px;
    background-color : #F4F4FA;
    
}

.confirm-del{
    width : 80px;
    height : 48px;
    font-size : 12px;
    background-color : red;
}


#del_btn_group {
    display: flex;
    justify-content: space-evenly;
}



#events {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100px;
    overflow: auto;
}

td{
   text-align: center;
}
th{
    text-align : center;
}
.mem-upd-btn{
    background-color: skyblue;
    color : white;
    border-style: none;
    
}



