<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.nemo.user.products.vo.ProductsVO" alias="productsVO"/>
	</typeAliases>
	<mappers>
		<!-- Admin -->
		<!-- <mapper resource="mapper/productsSql.xml" /> -->
		<mapper resource="mapper/admin/sites/notice/NoticeDAOMybatis.xml"/>
		<mapper resource="mapper/admin/sites/terms/TermsDAOMybatis.xml"/>
		<!-- User -->
		<mapper resource="mapper/user/customer/CustomerDAOMybatis.xml"/>
	</mappers>
</configuration>
