<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.nemo.admin.management.repository.impl.ManagementMapper">



	<insert id="insertAdmin"
		parameterType="com.nemo.admin.management.vo.ManagementVO">
		
		INSERT INTO ADMIN_ACCOUNT_TB 
		VALUES (admin_sq.nextval, #{adminId}, #{adminPw}, #{adminEmail}) 
		

	</insert>



</mapper>
