<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
	namespace="com.nemo.admin.management.repository.impl.ManagementMapper">

	<resultMap id="managementMap"
		type="com.nemo.admin.management.vo.ManagementVO">
		<id column="admin_no" property="adminNo" />
		<result column="admin_id" property="adminId" />
		<result column="admin_pw" property="adminPw" />
		<result column="admin_email" property="adminEmail" />
		<result column="admin_use" property="adminUse" />
	</resultMap>

	<insert id="insertAdmin" parameterType="com.nemo.admin.management.vo.ManagementVO">

		INSERT INTO ADMIN_TB
		VALUES (admin_sq.nextval, #{adminId}, #{adminPw}, #{adminEmail}, #{adminUse})
		<!-- 리턴값을 주기 위한 <selectKey keyProperty="adminNo" keyColumn="ADMIN_NO" resultType="Integer" 
			order="AFTER"> SELECT ADMIN_sq.currval FROM dual </selectKey> -->
	</insert>

	<select id="loginAdmin"
		parameterType="com.nemo.admin.management.vo.ManagementVO"
		resultMap="managementMap">
		SELECT
		admin_no,
		admin_id,
		admin_pw,
		admin_email,
		admin_use
		FROM
		ADMIN_TB
		WHERE admin_id=#{adminId}
	</select>
	<!-- WHERE admin_id=#{adminId} AND admin_pw=RPAD(#{adminPw}, 60, ' ') -->
	<!-- WHERE admin_id=#{adminId} AND admin_pw=#{adminPw} -->



	<select id="idCheck"
		parameterType="com.nemo.admin.management.vo.ManagementVO">
		SELECT COUNT(*) FROM
		ADMIN_TB
		WHERE
		ADMIN_ID = #{adminId}
	</select>

	<select id="getAdminList"

		parameterType="com.nemo.admin.management.vo.ManagementVO"
		resultMap="managementMap">
		SELECT * FROM
		ADMIN_TB

	</select>

	<!-- 삭제 -->

	<update id="deleteAdmin"
		parameterType="com.nemo.admin.management.vo.ManagementVO">
		UPDATE
		ADMIN_TB
		SET admin_use ='N'
		WHERE
		ADMIN_NO = #{adminNo}
	</update>




</mapper>