@charset "UTF-8";

.consulting_list_div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 18px 0px 100px;
}

.consulting_list_main{
    width: 1024px;
    display: block;
}

.consulting_list_nav{
    height: 44px;
    display: flex;
    background: rgb(255, 255, 255);
}

a {
    color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.consulting_list_nav_a1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    flex: 1 1 0%;
}

.consulting_list_nav_a2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    color: rgb(255, 80, 88);
    flex: 1 1 0%;
}

.consulting_list_nav_a2_hover{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 80, 88);
}

.consulting_list_ul{
    margin-top: 10px;
    list-style: none;
    width: 1024px;
}

.consulting_list_ul_article1{
    position: relative;
    height: 610px;
    will-change: height;
    overflow: hidden;
    transition: height 300ms ease-out 0s;
    display: block;
}

.consulting_list_ul_article1_button{
    height: 75px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-transform: none;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
    text-rendering: auto;
}

.consulting_list_ul_article1_button_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    flex: 1 1 0%;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.consulting_list_ul_article1_button_div_time{
    margin-top: 10px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}

.consulting_list_ul_article1_button_div2{
    margin-right: 30px;
    height: 40px;
    color: rgb(255, 80, 88);
    font-size: 13px;
    font-weight: 600;
}

.consulting_list_ul_article1_button_span{
    transform: rotate(180deg);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNqslK1Pw1AUxV9fmoq5Ldl/MCSaBLkEAQkIPgxzTUABjoRMsAJmCQ4HJGAAw8yCwGFQaCyOKSpgZmIGzk1OyU1Zu7fRm/yWvtvec1777p0XRVFgjLkGZ+DFFBtzYBeEPn5uwAZYAPPgrSCTGngAVRBY/HTBNxOPoFKASYVaVWp3xegWRGoX97KDf5gE1KhxfSwelosTGkrUwRXwpjDxWFvnWjSP5CIxktcLwRPXDdCawqjFWkOtkNq/RhJDsKaa4VAVuUSDNYYa69Q0aSOJL7AI4hGfIS/0546p8akfsCOKZDfLYMCD7aiDzWrjDp8dsPbPiNiMYhncLX7fsmrVdCQjUeaz21lDb3N2egeaqeErqfsl5pK3barOnchIog3O1d/JBc9BuGTO8LqdJ+Q7HPQemOGBS2e9M7+p2nhnnIiLkbToKngGs+BA3XvlveE4Ees4I32wBD5ULmau7yLgTzCQPbAC9rk+Zc4pfgQYAOZsSsrHKCoBAAAAAElFTkSuQmCC);
    background-size: cover;
    width: 13px;
    height: 8px;
    will-change: transform;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 300ms ease-out 0s;
}

.consulting_list_ul_article1_div{
    padding: 25px 18px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.consulting_list_ul_article1_div_section{
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.consulting_list_ul_article1_div_section_div{
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.consulting_list_ul_article1_div_section_div_div{
    display: flex;
    width: 100%;
    height: 64px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(238, 238, 238);
    
}

.consulting_list_ul_article1_div_section_div_div_img{
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: bottom;
    border-style: none;
}

.consulting_list_ul_article1_div_section_div_div_div{
    color: rgb(255, 80, 88);
}

.consulting_list_ul_article1_div_section_div_div_div_h2{
    margin-bottom: 10px;
    font-weight: 600;
}

.consulting_list_ul_article1_div_section_div_div_div_time{
    font-size: 13px;
}

.consulting_list_ul_article1_div_section_div_div_div_a{
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: underline;
}

.consulting_list_ul_article1_div_section_div_div_p{
    line-height: 1.4;
    white-space: pre-wrap;
    padding: 20px 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.consulting_list_ul_article1_div_section:last-child{
    padding-bottom: 0px;
    border-bottom: 0px;
}

.notice-list {
    margin-top: 12px;
    width: 1024px;
    overflow: hidden;
}

.notice-main > ol, ul, li {
    list-style: none;
}

.notice-main > li {
    text-align: -webkit-match-parent;
}

.notice-list-art {
    position: relative;
    /* height: 1295px; */
    will-change: height;
    overflow: hidden;
    transition: height 300ms ease-out 0s;
    display: block;
}


.notice-list-art > button {
    cursor: pointer;
    outline: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-transform: none;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-rendering: auto;
    background-color: white;
    /* margin: 8px 8px 0px 8px; */
    border: solid 1px #EEEEEE;
    width: 98%;
}


.notice-list-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    flex: 1 1 0%;
}

.notice-list-time {
    margin-top: 10px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}

.notice-list-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNqslK1Pw1AUxV9fmoq5Ldl/MCSaBLkEAQkIPgxzTUABjoRMsAJmCQ4HJGAAw8yCwGFQaCyOKSpgZmIGzk1OyU1Zu7fRm/yWvtvec1777p0XRVFgjLkGZ+DFFBtzYBeEPn5uwAZYAPPgrSCTGngAVRBY/HTBNxOPoFKASYVaVWp3xegWRGoX97KDf5gE1KhxfSwelosTGkrUwRXwpjDxWFvnWjSP5CIxktcLwRPXDdCawqjFWkOtkNq/RhJDsKaa4VAVuUSDNYYa69Q0aSOJL7AI4hGfIS/0546p8akfsCOKZDfLYMCD7aiDzWrjDp8dsPbPiNiMYhncLX7fsmrVdCQjUeaz21lDb3N2egeaqeErqfsl5pK3barOnchIog3O1d/JBc9BuGTO8LqdJ+Q7HPQemOGBS2e9M7+p2nhnnIiLkbToKngGs+BA3XvlveE4Ees4I32wBD5ULmau7yLgTzCQPbAC9rk+Zc4pfgQYAOZsSsrHKCoBAAAAAElFTkSuQmCC);
    background-size: cover;
    width: 13px;
    height: 8px;
    will-change: transform;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 300ms ease-out 0s;
}
.notice-list-void {
    line-height: 1.4;
    padding: 25px 18px;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.notice-list-btn {
    height: 75px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-transform: none;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
    text-rendering: auto;
}
.notice-list-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    flex: 1 1 0%;
}
.notice-list-li{
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.notice-list-time {
    margin-top: 10px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}
.notice-list-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNqslK1Pw1AUxV9fmoq5Ldl/MCSaBLkEAQkIPgxzTUABjoRMsAJmCQ4HJGAAw8yCwGFQaCyOKSpgZmIGzk1OyU1Zu7fRm/yWvtvec1777p0XRVFgjLkGZ+DFFBtzYBeEPn5uwAZYAPPgrSCTGngAVRBY/HTBNxOPoFKASYVaVWp3xegWRGoX97KDf5gE1KhxfSwelosTGkrUwRXwpjDxWFvnWjSP5CIxktcLwRPXDdCawqjFWkOtkNq/RhJDsKaa4VAVuUSDNYYa69Q0aSOJL7AI4hGfIS/0546p8akfsCOKZDfLYMCD7aiDzWrjDp8dsPbPiNiMYhncLX7fsmrVdCQjUeaz21lDb3N2egeaqeErqfsl5pK3barOnchIog3O1d/JBc9BuGTO8LqdJ+Q7HPQemOGBS2e9M7+p2nhnnIiLkbToKngGs+BA3XvlveE4Ees4I32wBD5ULmau7yLgTzCQPbAC9rk+Zc4pfgQYAOZsSsrHKCoBAAAAAElFTkSuQmCC);
    background-size: cover;
    width: 13px;
    height: 8px;
    will-change: transform;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 300ms ease-out 0s;
}

.notice-list-title > h1{
    font-size: 14px;
}

.notice-list-content{
	text-align:left;
    line-height: 1.4;
    padding: 25px 18px;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(238, 238, 238);
    display: none;
}


.total-nav {
    height: 44px;
    display: flex;
    background: rgb(255, 255, 255);
}

.total-nav-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    color: rgb(255, 80, 88);
    flex: 1 1 0%;
}
.total-nav-selected > a {

    cursor: pointer;
    text-decoration: none;
}

.total-nav-selected > a {
    background-color: transparent;
}

.total-nav-selected-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 80, 88);
}
.total-nav-not-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    flex: 1 1 0%;
}

.total-nav > a {
    color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}

.total-nav > a {
    background-color: transparent;
}