<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.user.customer.repository.impl.CustomerMapper">

	<resultMap id="noticeMap" type="com.nemo.user.customer.vo.UserNoticeVO" >
		<id column="notice_no" property="noticeNo"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="notice_content" property="noticeContent"/>
		<result column="notice_ymd" property="noticeYmd"/>
	</resultMap>

	
	<select id="getNoticeList" resultMap="noticeMap">
		SELECT 
			notice_no, 
			notice_title,
			notice_content,
			nvl(notice_edit_ymd, notice_reg_ymd) as notice_ymd
		FROM notice_tb
		ORDER BY notice_ymd desc, notice_no desc
	</select>


</mapper>
