<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.user.customer.repository.impl.CustomerFaqMapper">
	
	<resultMap type="com.nemo.user.customer.faq.vo.BaseUserFaqVO" id="baseUserFaqMap">
		<id column="faq_no" property="faqNO"/>
		<result column="faq_category_no" property="faqCategoryNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_REG_YMD" property="faqRegYmd"/>
		<result column="FAQ_USE_FL" property="faqUseFlag"/>
	</resultMap>
	
	<resultMap type="com.nemo.user.customer.faq.vo.BaseUserFaqCategoryVO" id="baseUserFaqCategoryMap">
		<id column="FAQ_CATEGORY_NO" property="faqCategoryNo"/>
		<result column="FAQ_CATEGORY_NM" property="faqCategoryName"/>
		<result column="FAQ_CATEGORY_REG_YMD" property="faqCategoryRegYmd"/>
		<result column="FAQ_CATEGORY_USE_FL" property="faqCategoryUseFlag"/>
	</resultMap>
 	
	
	<select id="getFaqCategoryStartNum" resultType="int">
	
		SELECT min(faq_category_no)
		FROM faq_category_tb
		WHERE faq_category_use_fl = 'Y'
	</select>
	
	<select id="getFaqCategoryList" resultMap="baseUserFaqCategoryMap">
		SELECT *
		FROM faq_category_tb
		WHERE faq_category_use_fl = 'Y'
		ORDER BY faq_category_no asc
	</select>
	
	<select id="getSelectFaqList" parameterType="int" resultMap="baseUserFaqMap">
		SELECT *
		FROM faq_tb
		WHERE faq_category_no = #{faqCategoryNo}
		ORDER BY faq_no desc
	</select>



</mapper>