<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.user.customer.qna.repository.impl.CustomerQnaMapper">

	
	<resultMap type="com.nemo.user.customer.qna.vo.UserBaseQnaCategoryVO" id="userBaseQnaCategoryMap">
		<id column="QNA_CATE_NO" property="qnaCategoryNo"/>
		<result column="QNA_CATE_NAME" property="qnaCategoryName"/>
		<result column="QNA_CATE_USE_FL" property="qnaCategoryUseFl"/>
	</resultMap>
	
	<resultMap type="com.nemo.user.customer.qna.vo.UserBaseQnaVO" id="userBaseQnaMap">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="QNA_CATE_NO" property="qnaCategoryNo"/>
		<result column="QNA_CATE_NAME" property="qnaCategoryName"/>
		<result column="QNA_REG_ID" property="qnaRegId"/>
		<result column="QNA_REPLY_ID" property="qnaReplyId"/>
		<result column="QNA_USER_CONTENT" property="qnaUserContent"/>
		<result column="QNA_ADMIN_CONTENT" property="qnaAdminContent"/>
		<result column="QNA_REG_YMD" property="qnaRegYmd"/>
	 	<result column="QNA_REPLY_YMD" property="qnaReplyYmd"/>
		<result column="QNA_REPLY_FL" property="qnaReplyFl"/>
	</resultMap>
	


	<select id="getQnaCategoryNameList" resultMap="userBaseQnaCategoryMap">
		SELECT
			QNA_CATE_NAME
		FROM 
			QNA_CATE_TB			 
	</select>
	
	<select id="getQnaCategoryList" resultMap="userBaseQnaCategoryMap">
		SELECT
			*
		FROM 
			QNA_CATE_TB			 
	</select>
	
	
	<select id="selectQnaList" parameterType ="java.util.HashMap" resultMap="userBaseQnaMap">
		<include refid="common.PaginationMapper.header"/>
		SELECT 
			qna.*,
			cate.qna_cate_name
		FROM 
			qna_tb qna
		inner join 
			(qna_cate_tb cate)
		on 
			(qna.qna_cate_no = cate.qna_cate_no)
		<where>
			QNA_REG_ID =#{userNo} 
		</where>
		order by qna_reg_ymd DESC, qna_reply_ymd ASC
		<include refid="common.PaginationMapper.footer"/>
	</select>
	
	
	<select id="selectQnaListFromUserNo" parameterType="com.nemo.user.customer.qna.vo.UserBaseQnaVO" resultType="int">
		SELECT 
			count(1)
		FROM 
			qna_tb qna
		inner join 
			(qna_cate_tb) cate
		on 
			(qna.qna_cate_no = cate.qna_cate_no) AND qna.qna_reg_id = #{qnaRegId}
	</select>
	
	
	
	<!-- 예린 테스트  -->
 	<insert id="insertQna" parameterType ="com.nemo.user.customer.qna.vo.UserBaseQnaVO">
 	<selectKey keyProperty="qnaNo" resultType="int" order="BEFORE">
			SELECT qna_sq.nextval FROM dual
		</selectKey>
		INSERT INTO QNA_TB
			(
			QNA_NO,
			QNA_USER_CONTENT,
			QNA_REG_ID,
			QNA_REPLY_YMD,
			QNA_CATE_NO
			)
		VALUES	
			(
			#{qnaNo},
			#{qnaUserContent},
			#{qnaRegId},
			#{qnaReplyYmd, jdbcType=DATE},
			#{qnaCategoryNo}
			)
	</insert>
	

</mapper>