@charset "UTF-8";

.ban-body {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.ban-body-div {
    width: 1024px;
    background: rgb(255, 255, 255);
    padding: 2rem 1rem 4rem;
}

.ban-header {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.ban-header h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.ban-header h1 span {
    color: rgb(255, 80, 88);
}

.ban-header p {
    text-align: center;
    color: rgb(136, 136, 136);
    font-size: 14px;
}

.ban-header p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.ban-contents-ul {
    display: block;
    padding: 2rem 0px;
}

.ban-contents-ul > ol, ul {
    list-style: none;
}


.ban-contents-ul > ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ban-contents-li {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.ban-contents-ul >li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.gorXqP {
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: rgb(136, 136, 136);
    background: rgb(250, 250, 250);
}

.ban-footer{
	font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: rgb(136, 136, 136);
    background: rgb(250, 250, 250);
}