@charset "UTF-8";

.customer-body-div {
    width: 1024px;
    
}
.customer-nav {
    height: 44px;
    display: flex;
    background: rgb(255, 255, 255);
}

.customer-nav-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    color: rgb(255, 80, 88)!important;
    flex: 1 1 0%;
    border-bottom: 2px solid red;
}
.customer-nav-selected > a {

    cursor: pointer;
    text-decoration: none;
}

.customer-nav-selected > a {
    background-color: transparent;
}

.customer-nav-selected-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 80, 88);
}
.customer-nav-not-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    flex: 1 1 0%;
}

.customer-nav > a {
    color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}

.customer-nav > a {
    background-color: white;
}
