@charset "UTF-8";

/* 페이징 */
.category-paging__area {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 100px;
}

.category-paging__div {
    display: flex;
}

.category-paging__prev {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border-radius: 2px;
    background: #AAAAAA;
    border: 1px solid #AAAAAA
    }

    .category-paging__prev svg {
        width: 12px;
        height: 12px;
        color: white;
    }

    .category-paging__page--active {
        width: 33px;
    height: 33px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    color: rgb(255, 255, 255)!important;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
    background: rgb(255, 80, 88);
    border-color: rgb(255, 80, 88);
    }

    .category-paging__page {
        width: 33px;
    height: 33px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    color: #333333;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
    background: white;
    border-color: #AAAAAA;
    }

    .category-paging__next {
        display: flex;
        flex-direction: row;
        justify-content: center;;
        align-items: center;
        background: #AAAAAA;
    border: 1px solid #AAAAAA;
        width: 33px;
        border-radius: 2px;
    }

    .category-paging__next svg{
        width: 12px;
        height: 12px;
        color: white;
    }
    