/*전체 영역 잡는 부분*/

.fl_1{

    width: 1024px;
    margin-top: 30px;

}

/*상점 영역 잡는 부분?*/

.fl_2{

    margin-bottom: 30px;
}

.fl_3{

    display: flex;
    width: 100%;

}

.fl_4{

    flex-shrink: 0;
}

.fl_5{

    width: 310px;
    height: 310px;
    position: relative;
    color: rgb(255, 255, 255);
}

.fl_6{

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fl_7{

    position: absolute;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(/pc-static/media/pattern-shop.066ca385.png);
    background-color: rgb(181, 181, 181);
    background-repeat: no-repeat;
}

.fl_8{

    position: inherit;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(4, 0, 0, 0.03) 0px 5px 10px 0px;
}

.fl_9{

    margin-bottom: 15px;
    border-radius: 50%;
}

.fl_10{

    font-size: 16px;
    margin-bottom: 10px;
}

.fl_11{
    display: flex;
}

.fl_12{

    display: flex;
    margin-top: 20px;
}

.fl_13 {
    width: 106px;
    color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.fl_13:first-child {
    margin-left: 0px;
}

.fl_14{

    display: flex;
    height: 310px;
    flex-direction: column;
    flex: 1 0 0%;
    padding: 0px 30px;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.fl_15{

    font-size: 18px;
    height: 75px;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
}

.fl_16{

    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fl_17{
    
         height: 20px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(136, 136, 136);
        font-size: 11px;
        padding: 0px 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
        border-image: initial;
    
}

.fl_17.sc-hXhGGG {
    margin-left: 10px;
}

.fl_18{

    font-size: 11px;
    color: rgb(77, 77, 77);
}

.fl_19{
    height: 45px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
    border-top: 1px solid rgb(250, 250, 250);
    border-bottom: 1px solid rgb(250, 250, 250);

}

.fl_20{

    margin-right: 30px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex;
}

.fl_20 > img {
    margin-right: 10px;
}

.fl_21{

    margin-left: 5px;
    color: rgb(33, 33, 33);
}

.fl_22{

    margin-right: 30px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex;
}

.fl_22 > img {
    margin-right: 10px;
}

.fl_23{

    margin-left: 5px;
    color: rgb(33, 33, 33);
}

.fl_24{

    margin-right: 30px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex;
}

.fl_24 > img {
    margin-right: 10px;
}

.fl_25{

    margin-left: 5px;
    color: rgb(33, 33, 33);
}

.fl_26{
   
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex

}

.fl_26:last-child {
    margin-right: 0px;
}

.fl_26 > img {
    margin-right: 10px;
}

.fl_27{

    margin-left: 5px;
    color: rgb(33, 33, 33);
}

.fl_28{

    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    line-height: 1.57;
    white-space: pre-wrap;

}

.fl_29{

    height: 56px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

.fl_30{

    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 11px;
    padding: 0px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.fl_31{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.fl_32{

    width: 430px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 56px 30px 20px;
}

.fl_33{

    position: absolute;
    top: 20px;
    right: 20px;
}

.fl_34{

    position: absolute;
    top: -41px;
    left: calc(50% - 41px);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
}

.fl_35{

    padding-bottom: 25px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.fl_36{

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.fl_37{

    margin-bottom: 5px;
}

.fl_38{

    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.fl_39{

    color: rgb(136, 136, 136);
    width: 110px;
}

.fl_40{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fl_41{

    color: rgb(247, 47, 51);
}

.fl_42{

    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.fl_43{

    color: rgb(136, 136, 136);
    width: 110px;
}

.fl_44{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fl_45{

    display: flex;
}

.fl_46:last-child {
    border-bottom: 0px;
}

.fl_46{
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
}

.fl_47{

    color: rgb(136, 136, 136);
    width: 110px;
}

.fl_48{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fl_49{

    display: none;
}

.fl_50{

    font-size: 16px;
    width: 100%;
    height: 144px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    line-height: 1.5;
}

.fl_51{

    color: rgb(247, 47, 51);
}

.fl_52{

    display: flex;
}

.fl_53{

    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(249, 168, 39);
}


.fl_53 > img {
    margin-right: 5px;
}

.fl_54{

    width: calc(50% - 5px);
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    background: rgb(136, 136, 136);
}

.fl_54 > img {
    margin-right: 5px;
}

/*!!-상점 끝-!!*/

/*메뉴바 시작*/

.fl_55{

    display: flex;
    height: 50px;
}

.fl_56:first-child {
    border-left: 1px solid rgb(238, 238, 238);
}
.fl_56{

    
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        color: rgb(136, 136, 136);
        flex: 1 1 0%;
        border-top: 1px solid rgb(238, 238, 238);
        border-right: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(33, 33, 33);
        background: rgb(250, 250, 250);
        cursor: pointer;
        text-decoration: none;
    
}

.fl_57{

    margin-left: 10px;
}

.fl_58{

        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex;
        color: rgb(136, 136, 136);
        flex: 1 1 0%;
        border-top: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(33, 33, 33);
        background: rgb(250, 250, 250);
        border-right: 1px solid rgb(33, 33, 33);
        cursor: pointer;
        text-decoration: none;
    
}

.fl_59{

    margin-left: 10px;
}


.fl_60{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    border-right: 1px solid rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}

.fl_61{

    margin-left: 10px;

}

.fl_62{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;


   
}

.fl_63{

    margin-left: 10px;
}

.fl_64{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(33, 33, 33);
    font-weight: 600;
    flex: 1 1 0%;
    border-top: 1px solid rgb(33, 33, 33);
    border-right: 1px solid rgb(33, 33, 33);
    border-bottom: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;


}

.fl_65{

    margin-left: 10px;
}

.fl_66{


    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;
  
   
}

.fl_67{

    margin-left: 10px;
}


/*팔로워 나오는 영역*/

.fl_72{

    display: block;
}

.fl_68{

    padding-bottom: 100px;

}

.fl_69{

    font-size: 18px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 50px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);

}

.fl_70{

    color: rgb(247, 47, 51);
}

.fl_71{

    color: rgb(136, 136, 136);
    margin: 30px 0px 100px;

}

