<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemo.admin.members.qna.repository.impl.QnaMapper">

	<resultMap id="qnaDownImgMap" type="com.nemo.admin.members.qna.vo.AdminBaseQnaImageVO">
		<id column="qna_img_no" property="qnaImgNo" />
		<result column="qna_no" property="qnaNo" />
		<result column="qna_img_origin_name" property="qnaImgOriginName" />
		<result column="qna_img_file_name" property="qnaImgFileName" />
		<result column="qna_img_file_size" property="qnaImgFileSize" />
		<result column="qna_img_width" property="qnaImgWidth" />
		<result column="qna_img_height" property="qnaImgHeight" />
		<result column="qna_img_type" property="qnaImgType" />
		<result column="qna_img_dt" property="qnaImgDt" />
	</resultMap>
	
	<!-- 첨부파일 다운 -->
 	<select id="selectImageList" parameterType="int" resultMap="qnaDownImgMap">
		SELECT 
			*
		FROM 
			qna_img_tb
		WHERE 
			qna_no = #{qnaNo}
	</select>
	 

<!-- 
	<select id="selectImage" parameterType="int" resultMap="qnaImgMap">

		SELECT *
		FROM qna_img_tb
		WHERE qna_img_no = #{qnaImgNo}

	</select> -->


</mapper>