<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.nemo.admin.members.qna.repository.impl.QnaMapper">
	


	<resultMap type="com.nemo.admin.members.qna.vo.AdminBaseQnaVO" id="qnaResponseMap">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="QNA_CATE_NO" property="qnaCategoryNo"/>
		<result column="QNA_CATE_NAME" property="qnaCategoryName"/>		
		<result column="QNA_REG_ID" property="qnaRegId"/>
		<result column="QNA_REPLY_ID" property="qnaReplyId"/>
		<result column="QNA_USER_CONTENT" property="qnaUserContent"/>
		<result column="QNA_ADMIN_CONTENT" property="qnaAdminContent"/>
		<result column="QNA_REG_YMD" property="qnaRegYmd"/>
		<result column="QNA_REPLY_YMD" property="qnaReplyYmd"/>
		<result column="QNA_REPLY_FL" property="qnaReplyFl"/>
	</resultMap>



	
	<select id="getQnaList" resultMap="qnaResponseMap">
	
		SELECT 
			qna.*,
			cate.qna_cate_name
		FROM qna_tb qna
			inner join (qna_cate_tb cate)
		on (qna.qna_cate_no = cate.qna_cate_no)
		order by qna_reply_fl

	</select>
	

		<!-- QNA row 값 하나  -->
	<select id= "getQna" parameterType="int" resultMap="qnaResponseMap">
		SELECT
			qna.*,
			cate.qna_cate_name
		FROM
			QNA_TB qna
			inner join (qna_cate_tb cate)
			on (qna.qna_cate_no = cate.qna_cate_no)
		WHERE 
			QNA_NO = #{qnaNo}
	</select>
	

 	<update id="replyQna" parameterType="com.nemo.admin.members.qna.vo.AdminBaseQnaVO">
		
		UPDATE 
			QNA_TB
		SET 
			QNA_ADMIN_CONTENT = #{qnaAdminContent},
			QNA_REPLY_ID = #{qnaReplyId},
			QNA_REPLY_YMD = #{qnaReplyYmd},
			QNA_REPLY_FL = #{qnaReplyFl}
		WHERE
			QNA_NO = #{qnaNo}
			
	</update>
	


</mapper>