.product_all  {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    font-family : "Noto Sans KR";
}

.product_all2{
   
    width: 1024px;
    margin-top: 30px;

}

/* .product_all3 {
    margin-bottom: 30px;
}

.product_all4{
    display: flex;
    width: 100%;
   
}

.product_all5 {
    flex-shrink: 0;
}

.product_all6 {

    width: 310px;
    height: 310px;
    position: relative;
    color: rgb(255, 255, 255);
}
.product_all7{

    
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.product_all8{

    position: absolute;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(/pc-static/media/pattern-shop.066ca385.png);
    background-color: rgb(181, 181, 181);
    background-repeat: no-repeat;
}
.product_all9{

        position: inherit;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        box-shadow: rgba(4, 0, 0, 0.03) 0px 5px 10px 0px;
}

.product_all10{

    margin-bottom: 15px;
    border-radius: 50%;
   
}

.product_all11{

    font-size: 16px;
    margin-bottom: 10px
}

.product_all12{

    display: flex;

}

.product_all13{

    display: flex;
    margin-top: 20px;
}

.product_all14{

    margin-left: 0px;

}

.product_all14_1{
	maring-right:10px;
    width: 106px;
    color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial

}

.product_all15{

    display: flex;
    height: 310px;
    flex-direction: column;
    flex: 1 0 0%;
    padding: 0px 30px;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.product_all16{

    font-size: 18px;
    height: 75px;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0

}

.product_all17{

    display: flex;
    -webkit-box-align: center;
    align-items: center;

}

.product_all16.a{

    margin-left: 10px;

}

.product_all18{

    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 11px;
    padding: 0px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;

}

.product_all19{

    font-size: 11px;
    color: rgb(77, 77, 77);
}

.product_all20{

    height: 45px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
    border-top: 1px solid rgb(250, 250, 250);
    border-bottom: 1px solid rgb(250, 250, 250)
}

.product_all21{
        margin-right: 30px;
        font-size: 13px;
        color: rgb(136, 136, 136);
        display: flex;
}

.product_all21 > img{
        margin-top:4px;
}

.product_all22{

 
    margin-left: 5px;
    color: rgb(33, 33, 33);

}

.product_all23{

    margin-right: 30px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex;

}

.product_all23 > img {
	margin-top:4px;

}

.product_all24 {
    margin-left: 5px;
    color: rgb(33, 33, 33);
}

.product_all25{
    
        margin-right: 30px;
        font-size: 13px;
        color: rgb(136, 136, 136);
        display: flex;
}

.product_all25 > img{
    margin-top:4px;
}


.product_all26{

    margin-left: 5px;
    color: rgb(33, 33, 33);

}

.product_all27{

    font-size: 13px;
    color: rgb(136, 136, 136);
    display: flex;
    margin-right: 0px;
}

.product_all28{

    margin-left: 5px;
    color: rgb(33, 33, 33);

}

.product_all29{

    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    line-height: 1.57;
    white-space: pre-wrap;

}

.product_all30{

    height: 56px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;

}

.product_all31{

    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 11px;
    padding: 0px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.product_all32{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);


}

.product_all33{

    width: 430px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 56px 30px 20px;
}

.product_all34{

    position: absolute;
    top: 20px;
    right: 20px;
}

.product_all35{

    position: absolute;
    top: -41px;
    left: calc(50% - 41px);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;

}

.product_all36{

    padding-bottom: 25px;
    border-bottom: 1px solid rgb(238, 238, 238);

}

.product_all37{

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.product_all38{

    margin-bottom: 5px;
}

.product_all39{

    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);

}

.product_all40{

    color: rgb(136, 136, 136);
    width: 110px;
}

.product_all41{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.product_all42{

    color: rgb(247, 47, 51);
}

.product_all43{

    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);

}

.product_all44{

    color: rgb(136, 136, 136);
    width: 110px;

}

.product_all45{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}

.product_all46{

    display: flex;
}

.product_all47{

    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 0px;

}

.product_all48{

    color: rgb(136, 136, 136);
    width: 110px;
}

.product_all49{

    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.product_all50{

    display: none;
}

.product_all51{

    font-size: 16px;
    width: 100%;
    height: 144px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    line-height: 1.5;
}

.product_all52{

    color: rgb(247, 47, 51);
}

.product_all53{

    display: flex;
}

.product_all54{

    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(249, 168, 39);

}

.product_all55{

    width: calc(50% - 5px);
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    background: rgb(136, 136, 136);
    

} */

.product_all56{

    display: flex;
    height: 50px;

}

.product_all57{

    border-left: 1px solid rgb(33, 33, 33);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(33, 33, 33);
    font-weight: 600;
    flex: 1 1 0%;
    border-top: 1px solid rgb(33, 33, 33);
    border-right: 1px solid rgb(33, 33, 33);
    border-bottom: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

.product_all58{

    margin-left: 10px;

}

.product_all59{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;

}

.product_all60{

    margin-left: 10px;
}

.product_all61{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;


}

.product_all62{

    margin-left: 10px;
}

.product_all63{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;


}

.product_all64{

    margin-left: 10px;

}


.product_all65{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;


}

.product_all66{

    margin-left: 10px;
}

.product_all67{

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    color: rgb(136, 136, 136);
    flex: 1 1 0%;
    border-top: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;


}

.product_all68{

    margin-left: 10px;
}

.product_all69{

    display: block;

}

.product_all70{

font-size: 18px;
display: flex;
-webkit-box-pack: justify;
 justify-content: space-between;
 padding: 50px 0px 20px;
 border-bottom: 1px solid rgb(238, 238, 238);

}

.product_all71{

    color: rgb(247, 47, 51);
}

.product_all72{

    width: 140px;
}

.product_all73{

    display: flex;
    width: 100%;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: rgb(77, 77, 77);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    background: rgb(255, 255, 255);

}

.product_all74{

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0px 25px 0px 10px;

}

.product_all74 img{

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: bottom;
    border-style: none;

}

.product_all75{

    position: absolute;
    top: 27px;
    left: -1px;
    width: calc(100% + 2px);
    max-height: 280px;
    overflow-y: auto;
    z-index: 1;
    display: none;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);

}

.product_all76{

    width: 100%;
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(247, 47, 51);
    padding: 0px 10px;
}

.product_all77{

    width: 100%;
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 10px;
}

.product_all78{

    margin-top: 30px;

}

.product_all79{

    margin-bottom: 25px;

}

.product_all80{

    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.product_all81{

    display: flex;
    font-size: 16px;
}

.product_all82{

    color: rgb(136, 136, 136);
    margin-left: 20px;

}

.product_all83{

    font-size: 13px;
    display: flex;
}

.product_all84{

    margin-right: 20px;
    position: relative;
    display: block;
    color: rgb(247, 47, 51) !important;
}

.product_all84::after{

    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(204, 204, 204);

}

.product_all85{

    margin-right: 20px;
    position: relative;
    display: block;

}

.product_all85::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(204, 204, 204);
}

.product_all86{

    margin-right: 20px;
    position: relative;
    display: block;

}

.product_all86::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(204, 204, 204);
}

.product_all87{

    margin-right: 20px;
    position: relative;
    display: block;

}

.product_all87::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    width: 1px;
    height: 12px;
    border-right: 1px solid rgb(204, 204, 204);
}

.product_all88{

    display: flex;
    flex-wrap: wrap;
    
}


.product_all89:nth-last-child(-n+5):nth-child(5n+1){

    margin-bottom: 0px;
}

.product_all89{
/*         width: 32%; */
        margin-right: 8px; 
        margin-bottom: 11px;

}

.product_all90{

    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    background: rgb(255, 255, 255);
}

.product_all91{
    position: relative;
    width: 100%;
    /* height: 194px; */
    text-align:center;
   
}

.product_all91 > img{
    width : 194px;
    height: 194px;
   
}

.product_all92{

    /* height: 80px; */
    padding: 15px 10px;
}

.product_all93{

    position: relative;
    font-size: 15px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product_all94{

    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;

}

.product_all95{

    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    


.product_all95:after {
    content: "Ïõê";
    font-size: 13px;
    margin-left: 3px;
}

.product_all96{

    font-size: 14px;
    color: rgb(136, 136, 136);
}

.product_all97{

    height: 40px;
    font-size: 13px;
    display: block;
    color: rgb(102, 102, 102);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 14px 10px 14px 35px;
    overflow: hidden;
    margin-bottom:5px;
}

.product_all97 img{
    position: absolute;
    left: 10px;
    top: calc(50% - 4px);

}

.product_all97 text{
	margin-bottom : 3px;
}

.product_all98{
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 40px 0px 100px;
}

.product_name{

    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 11px;
    padding: 0px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial

}

.product_all16.sc-hXhGGG {
    margin-left: 10px;
}













