@charset "UTF-8";

                                        /********** nav 시작 **********/

  .left-nav{
    margin-bottom: 20px;
	}


  .top_nav_combo{
        padding-right : 25px;
    }
    
  .top_nav_combo::after {
        content: "";
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAGxJREFUKBWt0s0NgDAIBWDbztS747CFdQvGcQBmAoOJiT+0ovUl3B7f6QUAKMw8DT8kxjgnIlpyzkFExh5TMUQsSZFedMfU2sAe9IidwC/oFbuBb1ALM0EPWsOqYAttYU3QQp8w/XFFx6/nKa8iD1fC7ZiLwQAAAABJRU5ErkJggg==);
        background-size: 10px 5px;
        position: absolute;
        top: 20px;
        width: 10px;
        height: 5px;
        margin-left:4px;
        cursor: default;
    } 

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1500; /* 최상위 */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow : auto; 
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }


   

    /* Modal Font */
    /* 로그아웃 */

                                        /******************************** header 시작 **********************************/
                                       
    header{
        background-color:white;
    }

    
    /* 검색창 */
    button, input {
        padding: 0px;
        border-width: 0px;
    }

    .search {
        width: 460px;
        height: 40px;
        box-sizing: border-box;
        position: relative;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(247, 47, 51);   
        margin-left : 100px;
    }

    .search_content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0px 15px;
    }

  

    /* 검색 필드 */
    .searching{
        direction: ltr;
        text-align: left;
        color: rgb(33, 33, 33);
        letter-spacing: -0.5px;
        outline: 0px;
        font : 13px "Noto Sans KR", sans-serif;
        width : 410px;
    }



    /* 메인 메뉴 (판매하기, 내상점) */

    .main_menu{
        width : 328px;
        height : 26px;
    }

    .categories{
        height : 70px;
        /* padding-left : 250px; */
        padding-right : 250px;
        margin-top : 0px;
        background-color : white;

    }
                                                             /**********     main   **********/

     button {
        font-size : 13px;
        font-family : "Noto Sans KR", "sans-serif";
        color :  rgb(66,66,66);   
        background-color: transparent; 
        cursor: pointer;
        outline: none;
     }



    a {
        cursor: pointer;
        text-decoration: none;
        background-color: transparent;
        font-size: 13px;
        color: rgb(66,66,66);      
        font-family : "Noto Sans KR", "sans-serif";
                        
    }

    a:hover{
        text-decoration : none;
    }
                
    .largest_section{
    display: flex;
    flex-direction: column;
    width: 1024;
    /* width: 1024px; */
    justify-content: center;
    align-items: center;
       
                     
    }

    .banner{
        height: 300px;
    	width: 1024px;
        
    }                   
    
    .banner button {
        position: absolute;
        z-index:10;
        top:50%;
        transform: translate(-50%);
        width: 30px;
        height : 30px;
        border-radius:100%;
        background: rgba(0,0,0,.5);
        border: none;
    }
    
    .banner button.slick-prev {
        left: 2%;
        background:none;
    }

    .banner button.slick-next {
        right: 0%;
        background:none;
    }

    .second_content_back{
        margin-top: 40px;
    	width: 1024px;
    	font-family: "Noto Sans KR";
    }
    
    .second_content{
        background-color: white;
        height:3000px;
        width: 1024px;
    }
    

    #recommend {
        margin-top: 30px;
        position: absolute;
        overflow: hidden;
        background: white;
        width: 450px;
        height: 400px;
        border-width: 1px;
        border-color: #EEEEEE;
        border-style: solid;
    }
    
    .item {
        height: 1.8em;
        width: 450px;
        outline: none;
        overflow: hidden;
    }
    
    .item:hover {
        color: #9baec8;
    }
    
    .text {
        font-weight: bold;
    }
    
    .invisible {
        display: none;
    }
    
    #search-close {
        text-align: right;
        position: absolute;
        right:0px;
        bottom:0px;
    }
                                      


    footer {
        background-color: white;
        color : #999999;
        margin-bottom : 24px;
        font : 13px "Noto Sans KR", sans-serif;
      }



      .footer_menu {
      display: flex;
      justify-content: space-evenly;
      font-size: 13px;
      color: rgb(77, 77, 77);      
      
    }
  
 

    /* footer 메뉴 구분선*/
    .menu_list::after {
        content: "";
        position: relative;
        top: 0px;
        right: 0px;
        width: 1px;
        height: 14px;
        box-sizing: border-box;
        border-right: 1px solid rgb(204, 204, 204);
        padding-right : 85px;
        
    }



    #about{
        color : black;
        margin-left : 5px;
        margin-bottom : 35px;
        font-size : 14px;
        font-family : 'Noto Sans KR'
    }
    

    

/* 카테고리 메뉴 */
ul { 
    list-style: none; 
    width: 400px;
}

a { 
    text-decoration: none; 
    color: black;}

/* side banner */
/* top으로 이동*/
a.top {
    position: fixed;
    left: 50%;
    bottom: 50px;
    display: none;
  }

/*list 점 없애기*/
.my_comment_ul {
    list-style: none;
    padding-left: 0px;

}

#floatdiv { 
    position:fixed; _position:absolute; _z-index:-1;
    width:170px;
    overflow:hidden;
    left:0px; 
    top:60px; 
    background-color: transparent;
    margin: 0;
    padding:0;
}

#floatdiv ul  { list-style: none; }
#floatdiv li  { margin-bottom: 2px; text-align: center; }
#floatdiv a   { color: #5D5D5D; border: 0; text-decoration: none; display: block; }
#floatdiv a:hover, #floatdiv .menu  { background-color: #5D5D5D; color: #fff; }
#floatdiv .menu, #floatdiv .last    { margin-bottom: 0px; }


/* main contents - 추천 상품 */

 .swiper-container {
    width: 100%;
    height: 100%;
  } 

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .bx_group{
      display: flex;
      width: 100%;
  }
  .bx_group > div{
      flex:1;
      height: 320px;
      margin: 10px;
      background-color:#F9F9F9;
  }
  

.swiper-button-next:after{
	color : darkgray !important;
}
.swiper-button-prev:after{
	color : darkgray !important;
}

.main-recommend-box-pic{
    height: 220px;
    
}
.main-recommend-box-pic > img{
    height: 200px;
    border-radius:100px;
    margin: 4px;
    align-content: center;
    width: 190px;
    height: 190px;
}

.main-recommend-box-price{
    height: 70px;
    text-align: center;
    align-content: center;
    font-size:15px;
}
.main-recommend-box-title{
    height: 30px;
    text-align: center;
    font-size: 15px;
}
.freeshipping{
	color : red;
	font-size : 12px;
}

/* main contents - 추천 상품 끝*/

/* main contents - 인기 상품 */

.popular{
	background-color:#F9F9F9;
}
.main-popular-body{
	width:1024px;
/* 	background-color: #F9F9F9; */
}
 .main-popular{
 	width:1024px;
    margin-top:20px;
}

.main-popular-title{
    padding-top: 50px;
}

/* 스크롤 탭 */

.scroll_tabs_container {
    position: relative;
    top: 0px;
    left: 1%;
    right: 0px;
    text-align: left;
    height: 60px;
    margin-bottom: 10px;
    width: 100%;
    border: solid 1px #F9F9F9;
  }
  
  ul.scroll_tabs_container {
    list-style: none;
    
  }
  
  .scroll_tabs_container div.scroll_tab_inner {
    height: 60px;
    border: solid 1px #F9F9F9;
  }
  
  .scroll_tabs_container div.scroll_tab_inner span, .scroll_tabs_container div.scroll_tab_inner li {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    font-size: 14px;
    background-color: white;
    color: gray;
    cursor: pointer;
    border: solid 0.5px #F9F9F9;
    color: gray;
  }
  
  .scroll_tabs_container div.scroll_tab_inner li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    list-style-type: none;
  }
  
  .scroll_tabs_container div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0px;
    width: 0px;
  }
  
  .scroll_tabs_container div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0px;
    width: 0px;
  }
  
  .scroll_tabs_container .scroll_tab_left_button {
    height: 60px;
    background-color: white;
    color: gray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .scroll_tabs_container .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 60px;
    padding-left: 5px;
  }
  
  .scroll_tabs_container .scroll_tab_left_button_over {
    background-color: #CCCCCC;
  }
  
  .scroll_tabs_container .scroll_tab_left_button_disabled {
    color: #AAAAAA;
    background-color: #CCCCCC;
  }
  
  .scroll_tabs_container .scroll_tab_right_button {
    height: 60px;
    background-color: white;
    color: gray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .scroll_tabs_container .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 60px;
    padding-left: 5px;
  }
  
  .scroll_tabs_container .scroll_tab_right_button_over {
    background-color: #CCCCCC;
  }
  
  .scroll_tabs_container .scroll_tab_right_button_disabled{
    color: #AAAAAA;
    background-color: #CCCCCC;
  }




.tab {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#tabcontent {
	display: block;
	background-color: green;
	padding: 6px 12px;
	color: #fff;
}
.tab > a{
	display: inline-block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
	transition: 0.3s;
}
.tab > a:visited { 
	color: black; 
	text-decoration: none;
	
	}
.tab > li {
	float: center;
	display: inline-block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
}

.gallery {
    flex: 1;
    margin: 5px;
    border: 1px solid #CCCCCC;
    float: left;
    width: 160px;
    border-radius: 5px;
    
  }
  
.gallery:hover {
    border: 1px solid #5D5D5D;
    
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 5px;
    text-align: center;
    font-size: 10pt;
  }

.desc-price{
    padding: 5px;
    float: center;
  }

.desc-time{
    float:right;
    right: 20%;
    text-align: right;
    font-size: 8px;
}


.gallery2 {
    flex: 1;
    margin: 5px;
    border: 1px solid #CCCCCC;
    float: left;
    width: 200px;
    border-radius: 5px;
    
  }
  
.gallery2:hover {
    border: 1px solid #5D5D5D;
    
  }
  
.gallery2 img {
    width: 100%;
    height: auto;
  } 


.main-popular-div:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.main-popular-div {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(102, 102, 102);
    margin-bottom: 40px;
}

.main-popular-all-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.main-popular-all-title a {
    color: rgb(204, 204, 204);
    margin-left: 10px;
}

.main-popular-contents {
    display: flex;
    flex-wrap: wrap;
}
.main-popular-content-div {
    width: 196px;
    margin-right: 11px;
    margin-bottom: 11px;
}

.main-popular-content-a {
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    display: block;
}
.main-popular-contents-div {
    position: relative;
    width: 100%;
    height: 194px;
}

.main-popular-content-disc {
    padding: 15px 10px;
    height: 80px;
}

.main-popular-content-disc-title {
    position: relative;
    font-size: 14px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main-popular-content-disc-pNt {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
}
.main-popular-content-disc-price {
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main-popular-content-disc-price::after {
    content: "원";
    font-size: 13px;
    margin-left: 3px;
}
.main-popular-content-disc-time {
    font-size: 12px;
    color: rgb(136, 136, 136);
}
