.from-customer{
    border : 1px;
    border-color : black;

}
.reply{
    background-color:#F44336;
    border: none; 
    color:white;
    font-size : 20px; 
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
}

th{
    background-color :#faf9f5;
    line-height: 100px;
    font-size: 15px;

}

td{
    font-size : 15px; 
}

h2{
    font-size : 18px;
    font-family : "Noto Sans KR";
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    
}
.btn-layout{
    display : flex;
    justify-content: center;
}

.btn-primary{
    margin-right: 30px;
    
}

.content{
    display : flex;
    justify-content: space-evenly;
}
.card{
    width : 1000px;

}

