/* 
.comments{

    width: 1024px;
    margin-top: 30px;

}

.comments_1{

margin-bottom: 30px;
}

.comments_2{

display: flex;
width: 100%;

}

.comments_3{

flex-shrink: 0;

}

.comments_4{

width: 310px;
height: 310px;
position: relative;
color: rgb(255, 255, 255);

}

.comments_5{

position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
overflow: hidden;
}

.comments_6{

position: absolute;
background-size: cover;
z-index: 0;
width: 100%;
height: 100%;
background-image: url(/pc-static/media/pattern-shop.066ca385.png);
background-color: rgb(181, 181, 181);
background-repeat: no-repeat;

}

.comments_7{

position: inherit;
display: flex;
width: 100%;
height: 100%;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
flex-direction: column;
box-shadow: rgba(4, 0, 0, 0.03) 0px 5px 10px 0px;

}

.comments_8{

margin-bottom: 15px;
border-radius: 50%;
}

.comments_9{

font-size: 16px;
margin-bottom: 10px;
}

.comments_10{

display: flex;

}

.comments_11{

display: flex;
margin-top: 20px;

}


.comments_12:first-child {
margin-left: 0px;
}
.comments_12{

width: 106px;
color: rgb(255, 255, 255);
height: 40px;
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
font-size: 13px;
border-width: 1px;
border-style: solid;
border-color: rgb(255, 255, 255);
border-image: initial;

}

.comments_13{

display: flex;
height: 310px;
flex-direction: column;
flex: 1 0 0%;
padding: 0px 30px;
border-top: 1px solid rgb(238, 238, 238);
border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_14{

font-size: 18px;
height: 75px;
font-weight: 600;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between;
flex-shrink: 0;

}

.comments_15{

display:flex;
-webkit-box-align: center;
align-items: center;

}

.comments_14 .button1 {
margin-left: 10px;
}

.comments_16{

height: 20px;
display: flex;
-webkit-box-align: center;
align-items: center;
color: rgb(136, 136, 136);
font-size: 11px;
padding: 0px 5px;
border-width: 1px;
border-style: solid;
border-color: rgb(238, 238, 238);
border-image: initial;

}


.comments_17{

font-size: 11px;
color: rgb(77, 77, 77);

}

.comments_18{

height: 45px;
display: flex;
-webkit-box-align: center;
align-items: center;
margin-bottom: 20px;
flex-shrink: 0;
border-top: 1px solid rgb(250, 250, 250);
border-bottom: 1px solid rgb(250, 250, 250);

}

.comments_19{

margin-right: 30px;
font-size: 13px;
color: rgb(136, 136, 136);
display: flex;
}

.comments_19 > img{
	margin-top:4px;
}

.comments_20{

margin-left: 5px;
color: rgb(33, 33, 33);

}

.comments_21{

margin-right: 30px;
font-size: 13px;
color: rgb(136, 136, 136);
display: flex;

}

.comments_19>img{

margin-right: 10px;
}

.comments_21 > img {
margin-right: 10px;
}


.comments_22{

margin-left: 5px;
color: rgb(33, 33, 33);

}

.comments_23{

margin-right: 30px;
font-size: 13px;
color: rgb(136, 136, 136);
display: flex;
}

.comments_23 > img {
	margin-top:4px;
margin-right: 10px;
}

.comments_24{

margin-left: 5px;
color: rgb(33, 33, 33);

}

.comments_25{

font-size: 13px;
color: rgb(136, 136, 136);
display: flex;
}

.comments_25:last-child {
margin-right: 0px;
}

.comments_25> img {
margin-right: 10px;
}

.comments_26{

margin-left: 5px;
color: rgb(33, 33, 33);
}

.comments_27{

-webkit-box-flex: 1;
flex-grow: 1;
width: 100%;
overflow-y: auto;
line-height: 1.57;
white-space: pre-wrap;

}

.comments_28{

height: 56px;
display: flex;
-webkit-box-align: center;
align-items: center;
flex-shrink: 0;

}

.comments_29{

height: 20px;
display: flex;
-webkit-box-align: center;
align-items: center;
color: rgb(136, 136, 136);
font-size: 11px;
padding: 0px 5px;
border-width: 1px;
border-style: solid;
border-color: rgb(238, 238, 238);
border-image: initial;

}

.comments_30{

width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index: 1000;
display: none;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
background: rgba(0, 0, 0, 0.6);


}

.comments_31{

width: 430px;
position: relative;
background: rgb(255, 255, 255);
padding: 56px 30px 20px;

}

.comments_32{

position: absolute;
top: 20px;
right: 20px;

}

.comments_33{

position: absolute;
top: -41px;
left: calc(50% - 41px);
border-width: 2px;
border-style: solid;
border-color: rgb(255, 255, 255);
border-image: initial;
border-radius: 50%;

}

.comments_34{

padding-bottom: 25px;
border-bottom: 1px solid rgb(238, 238, 238);

}

.comments_35{

text-align: center;
font-size: 18px;
font-weight: 600;
margin-bottom: 10px;
}


.comments_36{

margin-bottom: 5px;
}

.comments_37{

display: flex;
height: 48px;
-webkit-box-align: center;
align-items: center;
border-bottom: 1px solid rgb(238, 238, 238);

}

.comments_38{

color: rgb(136, 136, 136);
width: 110px;
}

.comments_39{

-webkit-box-flex: 1;
flex-grow: 1;
display: flex;
-webkit-box-align: center;
align-items: center;
}

.comments_40{

color: rgb(247, 47, 51);
}

.comments_41{

display: flex;
height: 48px;
-webkit-box-align: center;
align-items: center;
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_42{

color: rgb(136, 136, 136);
width: 110px;
}

.comments_43{

-webkit-box-flex: 1;
flex-grow: 1;
display: flex;
-webkit-box-align: center;
align-items: center;
}
.comments_44{

display: flex;
}

.comments_45{

display: flex;
height: 48px;
-webkit-box-align: center;
align-items: center;

}

.comments_45:last-child {
border-bottom: 0px;
}

.comments_46{

color: rgb(136, 136, 136);
width: 110px;

}

.comments_47{

-webkit-box-flex: 1;
flex-grow: 1;
display: flex;
-webkit-box-align: center;
align-items: center;
}

.comments_48{

display: none;
}

.comments_49{

font-size: 16px;
width: 100%;
height: 144px;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
margin-bottom: 5px;
line-height: 1.5;
}

.comments_50{

color: rgb(247, 47, 51);
}

.comments_51{

display: flex;
}

.comments_52{

height: 56px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 700;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-flex: 1;
flex-grow: 1;
background: rgb(249, 168, 39);
}

.comments_52> img {
margin-right: 5px;
}

.comments_53{

width: calc(50% - 5px);
height: 56px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 700;
display: none;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
flex-shrink: 0;
margin-left: 10px;
background: rgb(136, 136, 136);
}

.comments_53 > img {
margin-right: 5px;
}

.comments_54{

display: flex;
height: 50px;

}

.comments_55{

-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(136, 136, 136);
flex: 1 1 0%;
border-top: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(33, 33, 33);
background: rgb(250, 250, 250);
border-right: 1px solid rgb(33, 33, 33);

}

.comments_55:first-child {
border-left: 1px solid rgb(238, 238, 238);
}

.comments_56{

margin-left: 10px;
}

.comments_57{

-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(33, 33, 33);
font-weight: 600;
flex: 1 1 0%;
border-top: 1px solid rgb(33, 33, 33);
border-right: 1px solid rgb(33, 33, 33);
border-bottom: 1px solid rgb(255, 255, 255);
background: rgb(255, 255, 255);
cursor: pointer;
    text-decoration: none;

}

.comments_58{

margin-left: 10px;
}

.comments_59{

-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(136, 136, 136);
flex: 1 1 0%;
border-top: 1px solid rgb(238, 238, 238);
border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(33, 33, 33);
background: rgb(250, 250, 250);
cursor: pointer;
    text-decoration: none;

}

.comments_60{

margin-left: 10px;
}

.comments_61{

-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(136, 136, 136);
flex: 1 1 0%;
border-top: 1px solid rgb(238, 238, 238);
border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(33, 33, 33);
background: rgb(250, 250, 250);
cursor: pointer;
    text-decoration: none;
}

.comments_62{

margin-left: 10px;

}

.comments_63{

webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(136, 136, 136);
flex: 1 1 0%;
border-top: 1px solid rgb(238, 238, 238);
border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(33, 33, 33);
background: rgb(250, 250, 250);
cursor: pointer;
    text-decoration: none;
}

.comments_64{

margin-left: 10px;
}

.comments_65{

webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
display: flex;
color: rgb(136, 136, 136);
flex: 1 1 0%;
border-top: 1px solid rgb(238, 238, 238);
border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(33, 33, 33);
background: rgb(250, 250, 250);
cursor: pointer;
    text-decoration: none;

}

상점 문의 부분
.comments_66{

margin-left: 10px;
}

.comments_67{

font-size: 18px;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
padding: 50px 0px 20px;
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_68{

color: rgb(247, 47, 51)
}

상점문의 댓글 남기는 부분

.comments_69{

border-right: 1px solid rgb(238, 238, 238);
border-bottom: 1px solid rgb(238, 238, 238);
border-left: 1px solid rgb(238, 238, 238);
}

.comments_70{

width: 100%;
height: 80px;
padding: 20px;
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_71{

width: 100%;
height: 100%;
resize: none;
font-size: 13px;
line-height: 1.5;
}

.comments_72{

display: flex;
width: 100%;
height: 50px;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between;
padding: 0px 10px

}

.comments_73{

margin-left: 10px;
font-size: 12px;
color: rgb(136, 136, 136);
}

.comments_74{

height: 32px;
display: flex;
-webkit-box-align: center;
align-items: center;
font-size: 13px;
color: rgb(136, 136, 136);
border-width: 1px;
border-style: solid;
border-color: rgb(238, 238, 238);
border-image: initial;
padding: 0px 20px
}

.comments_74 img {
margin-right: 4px;
}

알림 메시지 나오는 영역

.comments_75{

margin-top: 10px;
}

.comments_76{

padding-top: 25px;
}

.comments_77{

display: flex;
width: 100%;
}
.comments_78{

display: block;
margin-right: 15px;
}

.comments_78 img {
border-radius: 50%;
}

.comments_79{

width: 100%;
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_80{

display: flex;
width: 100%;
-webkit-box-pack: justify;
justify-content: space-between;
color: rgb(136, 136, 136);
margin-bottom: 10px;
-webkit-box-align: center;
align-items: center;
}

.comments_81{

font-size: 13px;
color: rgb(204, 204, 204);
}

.comments_82{

margin-bottom: 20px;
line-height: 1.5;
white-space: pre-wrap;

}

.comments_83{

display: flex;
margin-bottom: 20px;
}

.comments_84{

color: rgb(136, 136, 136);
font-size: 13px;
display: flex;
-webkit-box-align: unset;
align-items: unset;
margin-right: 25px;
position: relative;
cursor: pointer;
}
.comments_84 img {
margin-right: 4px;
}
.comments_84::after {
content: "";
width: 1px;
height: 13px;
position: absolute;
top: 1px;
right: -14px;
border-right: 1px solid rgb(238, 238, 238);
}

.comments_85{

color: rgb(136, 136, 136);
font-size: 13px;
display: flex;
-webkit-box-align: unset;
align-items: unset;
margin-right: 25px;
position: relative;
cursor: pointer;
}

.comments_85 img {
margin-right: 4px;
}
.comments_85:last-child::after {
border-right: 0px;
}
.comments_85::after {
content: "";
width: 1px;
height: 13px;
position: absolute;
top: 1px;
right: -14px;

}

.comments_86{

padding-top: 25px;  
}

.comments_87{

display: flex;
width: 100%;
}

.comments_88{

display: block;
margin-right: 15px;
}

.comments_88 img {
border-radius: 50%;
}

.comments_89{

width: 100%;
border-bottom: 1px solid rgb(238, 238, 238);
}

.comments_90{

display: flex;
width: 100%;
-webkit-box-pack: justify;
justify-content: space-between;
color: rgb(136, 136, 136);
margin-bottom: 10px;
-webkit-box-align: center;
align-items: center;

}

.comments_91{

font-size: 13px;
color: rgb(204, 204, 204);
}

.comments_92{

margin-bottom: 20px;
line-height: 1.5;
white-space: pre-wrap;
}

.comments_93{

display: flex;
margin-bottom: 20px;
}

.comments_94{

color: rgb(136, 136, 136);
font-size: 13px;
display: flex;
-webkit-box-align: unset;
align-items: unset;
margin-right: 25px;
position: relative;
cursor: pointer;
}

.comments_94 img {
margin-right: 4px;
}
.comments_94::after {
content: "";
width: 1px;
height: 13px;
position: absolute;
top: 1px;
right: -14px;
border-right: 1px solid rgb(238, 238, 238);
}

.comments_95{

color: rgb(136, 136, 136);
font-size: 13px;
display: flex;
-webkit-box-align: unset;
align-items: unset;
margin-right: 25px;
position: relative;
cursor: pointer;
}

.comments_95 img {
margin-right: 4px;
}

.comments_95::after {
content: "";
width: 1px;
height: 13px;
position: absolute;
top: 1px;
right: -14px;
}


아무런 문의가 없을떄 css

.comments_96 {
    color: rgb(136, 136, 136);
    margin: 30px 0px 100px;
}

.center_all {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
} */