@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.storeedit-all{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 0px;
}

label {
	margin: 0;
}
.storeedit-form {
    width: 570px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
    background: rgb(255, 255, 255);
    padding: 60px;
}

.storeedit-title {
    font-size: 30px;
}

.storeedit-box {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.info-input-outline{
    margin-bottom: 45px;
}
.storeedit-common-margin{
    margin-bottom: 5px;
}

.input-box:last-child {
    margin-bottom: 0px;
}
.input-box {
    height: 50px;
    box-shadow: rgb(76, 76, 76) 0px 1px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: flow;
}

.veridation-msg {
    color: rgb(247, 47, 51);
    font-size: 13px;
    margin-top: 10px;
}

.storeedit-img{
        width: 60px;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
}

.upstore-info{
        width: 20%;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
}





.input-box input {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.input-box button {
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 2px;
    margin: 0px 7px 0px 20px;
    background: rgb(179, 179, 179);
}

.input-box button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.input-box button {
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 2px;
    margin: 0px 7px 0px 20px;
    background: rgb(179, 179, 179);
}

.storeedit-select{
    display : flex;
    
}
.select-for-recommend{
    width: 100%;
    display : flex;
    flex-flow: column;
}
.select-space-right{
    padding-right : 10px;
}

.select-space{
    padding-left : 20px;
    padding-right : 10px;
}

.terms-check-outline{
    margin-bottom: 50px;
}

.terms-check-box{
    display : flex;
}
.all-check-outline{
        display: flex;
        align-items: center;

}
.check-margin{
    margin-bottom: 20px;
}

.checkbox-info{
    margin-left: 12px;
    flex-grow: 1;
}
.check-padding{
    padding-left: 24px;
}
.mandatory{
    color: rgb(247, 47, 51);
    margin-right: 5px;
}

.show-btn{
    flex-shrink: 0;
}
.hide-btn{
    flex-shrink: 0;
}


.hide-btn img {
    transform: rotate(180deg);
    transition: all 0.5s ease 0s;
}

.show-btn img {
    transition: all 0.5s ease 0s;
}


.hide-term{
    margin-top: 5px;
    max-height: 0px;
    line-height: 1.4;
    overflow: hidden;
   transition: max-height 0.5s ease 0s;
        
}
.show-term{
    margin-top: 5px;
    line-height: 1.4;
    max-height: 150px;
    overflow: hidden auto;
    transition: max-height 0.5s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.suggest{
    color: rgb(136, 136, 136);
    margin-right: 5px;
}
.fyi{
    color: rgb(136, 136, 136);
}
.updatestore-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.updatestore-btn{
        color: rgb(255, 255, 255);
        width: 100%;
        height: 56px;
        text-align: center;
        font-size: 18px;
        background: rgb(247, 47, 51);
}


.select-form {
    width: 100%;
}


.hide {
    display: none;
}






/* common */
button, input[type="text"], input[type="tel"], input[type="number"] {
    appearance: none;
}

button, input {
    padding: 0px;
    border-width: 0px;

}

body, input, textarea, select, button {
    
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border-width: 0px;
    border-style: none;

}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    
}



body {
    background-color: rgb(249, 249, 249);
    font-size: 14px;
}

html, body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: rgb(33, 33, 33);
}


body {
    line-height: 1;
}

textarea{
	resize:none;
}
