<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.admin.transaction.repository.impl.TransactionMapper">

	<resultMap type="com.nemo.admin.transaction.vo.TransactionVo" id="transMap">
      <id column="PURCHASE_NO" property="purchaseNo"/>
      <result column="ORDER_NO" property="orderNo" />
      <result column="PRODUCT_NO" property="productNo" />
      <result column="PRODUCT_SELLER" property="productSeller" />
      <result column="PRODUCT_NAME" property="productName" />
      <result column="PURCHASE_PRICE" property="purchasePrice" />
      <result column="PURCHASE_DT" property="puchaseDt"/>
      <result column="PURCHASE_SH_FEE" property="purchaseShFee" />
      <result column="PURCHASE_WAY" property="purchaseWay" />
      <result column="PURCHASE_PAY_ST" property="purchasePaySt" />
      <result column="BUYER_NO" property="buyerNo" />
      <result column="BUYER_NAME" property="buyerName" />
      <result column="BUYER_PHONE" property="buyerPhone" />
      <result column="BUYER_EMAIL" property="buyerEmail" />
      <result column="BUYER_ZIPCODE" property="buyerZipcode" />
      <result column="BUYER_ADDRESS" property="buyerAddress" />
   </resultMap>
   
   <select id="allList" parameterType="com.nemo.user.purchases.vo.PurchasesVO" resultMap="transMap">
		SELECT 
			*
		FROM 
			PURCHASES_TB 
		ORDER BY
			PURCHASE_NO
	</select>
</mapper>
