<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.user.products.repository.impl.ProductsMapper">

	<resultMap id="productMap" type="com.nemo.user.products.vo.UserBaseProductsVO">
		<id column="product_no" property="productNo"/>	
		<result column="product_seller" property="productSeller"/>
		<result column="product_cate_no" property="productCateNo"/>
		<result column="product_name" property="productName"/>
		<result column="product_deal_area" property="productDealArea"/>
		<result column="product_used_st" property="productUsedSt"/>
		<result column="product_disp_st" property="productDispSt"/>
		<result column="product_exch_st" property="productExchSt"/>
		<result column="product_sold_dt" property="productSoldDt"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_free_shipping_st" property="productFreeShippingSt"/>
		<result column="product_info" property="productInfo"/>
		<result column="product_tag" property="productTag"/>
		<result column="product_qty" property="productQty"/>
		<result column="product_reg_dt" property="productRegDt"/>
		<result column="product_edit_dt" property="productEditDt"/>
		<result column="product_view" property="productView"/>
	</resultMap>
	
	<insert id="insertProducts" parameterType="com.nemo.user.products.vo.UserNewProductsVO">
		<selectKey keyProperty="productNo" resultType="int" order="BEFORE">
			SELECT product_sq.nextval FROM dual
		</selectKey>
		
		INSERT INTO product_tb (
			product_no,
			product_seller,
			product_cate_no,
			product_name,
			product_deal_area,
			product_used_st,
			product_exch_st,
			product_free_shipping_st,
			product_price,
			product_info,
			product_tag,
			product_qty
		) VALUES (
			#{productNo},
			<if test='productSeller != null'>
			#{productSeller},
			</if>
			<if test='productSeller == null'>
			1,
			</if>
			#{productCateNo},
			#{productName},
			#{productDealArea},
			#{productUsedSt},
			#{productExchSt},
			#{productFreeShippingSt},
			#{productPrice},
			#{productInfo},
			#{productTag},
			#{productQty}
		)
	</insert>
	
	<select id="selectCategoryProducts" parameterType="java.util.HashMap" resultMap="productMap">
	<include refid="common.PaginationMapper.header"/>
		SELECT *
		FROM 
			product_tb 
		<where>
			<![CDATA[product_disp_st NOT IN ('D', 'P')]]>
			AND product_cate_no 
			<foreach collection="cateSeqList" open="IN (" close=")" item="i" separator=",">
				#{i}
			</foreach>
			
		</where>
	<include refid="common.PaginationMapper.footer"/>
	</select> 
	
	<select id="selectProduct" parameterType="int" resultMap="productMap">
		SELECT *
		FROM
			product_tb p
		WHERE
			product_no = #{productNo}
	</select>
	
	
	<update id="updateView" parameterType="int">
		UPDATE product_tb
		SET product_view = product_view + 1
		WHERE product_no = #{productNo}
	</update>
	
	
</mapper>

