<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemo.user.products.repository.impl.ProductsImageMapper">
	
	<resultMap id="productImgMap" type="com.nemo.user.products.vo.UserBaseProductsImageVO">
		<id column="product_img_no" property="productImgNo"/>
		<result column="product_no" property="productNo"/>
		<result column="product_img_origin_name" property="productImgOriginName"/>
		<result column="product_img_file_name" property="productImgFileName"/>
		<result column="product_img_file_size" property="productImgFileSize"/>
		<result column="product_img_width" property="productImgWidth"/>
		<result column="product_img_height" property="productImgHeight"/>
		<result column="product_img_type" property="productImgType"/>
		<result column="product_img_dt" property="productImgDt"/>
	</resultMap>
	
	<insert id="insertImage" 
		parameterType="java.util.List">
	
	<foreach collection="list" item="i" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		
		INTO product_img_tb (
			product_img_no,
			product_no,
			product_img_origin_name,
			product_img_file_name,
			product_img_file_size,
			product_img_width,
			product_img_height,
			product_img_type
		) VALUES (
			get_seq('product_img_sq'),
			#{i.productNo},
			#{i.productImgOriginName},
			#{i.productImgFileName},
			#{i.productImgFileSize},
			#{i.productImgWidth},
			#{i.productImgHeight},
			#{i.productImgType}
		)
		
		</foreach>
		<selectKey keyColumn="productImgNo" order="AFTER"> SELECT product_img_sq.currval FROM dual</selectKey>
	</insert>
	
	
	<select id="selectPresentiveImg" parameterType="list" resultMap="productImgMap">
		
		SELECT a.* 
		FROM product_img_tb a
		WHERE product_img_no IN (
		    SELECT min(product_img_no)
		    FROM product_img_tb
		    <where>
			product_no
			<foreach collection="list" open="IN (" close= ")" item="i" separator=",">
				#{i.productNo}
			</foreach>
		</where>
		    GROUP BY product_no
		)
		ORDER BY product_no
	</select>
	
	<select id="selectImage" parameterType="int" resultMap="productImgMap">
		
		SELECT *
		FROM product_img_tb
		WHERE product_img_no = #{productImgNo}
		
	</select>
	
	
	<update id="deleteProductImages" parameterType="int">
		
		UPDATE product_img_tb
		SET product_img_del_fl = 'Y'
		WHERE product_no = #{productNo} AND product_img_del_fl = 'N'
	
	</update>
	
</mapper>