

.prd-upd-btn{
    background-color: skyblue;
    color : white;
    border-style: none;
    
}

#prd-list > td{
	align : center;
}

#product_cate{
	float : right;																			
    margin-right: 5px;
}