<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemo.user.search.products.repository.impl.SearchProductsMapper">

	<resultMap id="pdPdImgMap" type="com.nemo.user.search.products.vo.UserPdPdImgVO">
		<association property="productVO" resultMap="com.nemo.user.products.repository.impl.ProductsMapper.productMap"/>
		<association property="productImgVO" resultMap="com.nemo.user.products.repository.impl.ProductsImageMapper.productImgMap"/>
	</resultMap>
	
	<resultMap id="groupPdCate" type="com.nemo.user.products.vo.UserProductsCategoryCntVO" extends="com.nemo.user.products.repository.impl.UserProductsCategoryMapper.productsCateMap"> 
		<result column="product_cate_cnt" property="productCateCnt"/>
	</resultMap>

	<!-- 검색어로 상품과 상품 대표 이미지 선택 -->
	<select id="pdPdImgByKeyword" parameterType="hashmap" resultMap="pdPdImgMap">
		
		<include refid="common.PaginationMapper.header"/>
		SELECT 
				a.* , 
       			b.product_img_no ,
        		b.product_img_file_name , 
        		b.product_img_type
		FROM    product_tb a
		INNER JOIN product_img_tb b
		ON 		a.product_no = b.product_no AND a.product_disp_st NOT IN ('D', 'P', 'F')
		RIGHT JOIN (select min(product_img_no) as product_img_no FROM product_img_tb group by product_no) c
		ON 		b.product_img_no = c.product_img_no
		INNER JOIN product_cate_tb cate
		ON		a.product_cate_no = cate.product_cate_no
		<if test="selectedCateName != null">
				AND 
				<choose>
					<when test='selectedType == "L"'>
						cate.product_cate_large = #{selectedCateName}
					</when>
					<when test='selectedType == "M"'>
						cate.product_cate_medium = #{selectedCateName}
					</when>
					<when test='selectedType == "S"'>
						cate.product_cate_small = #{selectedCateName}
					</when>
				</choose>
			</if>
		<where>
				a.product_name LIKE '%'|| #{keyword} ||'%' OR 
		        a.product_deal_area LIKE '%'|| #{keyword} ||'%'
		</where>   
		<if test='order == "date"'>
	        ORDER BY a.product_reg_dt desc
	    </if>
		<if test='order == "price_asc"'>
	        ORDER BY a.product_price asc
        </if>
		<if test='order == "price_desc"'>
	        ORDER BY a.product_price desc
        </if>
        <include refid="common.PaginationMapper.footer"/>
	</select> 
	
	<select id="pdCateByKeyword" parameterType="hashMap" resultMap="groupPdCate">
		SELECT 
	        c2.product_cate_no,
	        result.*
		FROM ( 
		    SELECT
		    	<choose>
					<when test='selectedType == "L"'>
						c.product_cate_medium,
					</when>
					<when test='selectedType == "M"'>
						c.product_cate_small,
					</when>
					<otherwise>
						c.product_cate_large,
					</otherwise>
				</choose>
		        count(1) product_cate_cnt
		    FROM product_tb p
		    INNER JOIN (SELECT * FROM product_cate_tb) c
		    ON p.product_cate_no = c.product_cate_no AND p.product_disp_st NOT IN ('D', 'P', 'F')
		    <if test="selectedCateName != null">
				AND 
				<choose>
					<when test='selectedType == "L"'>
						c.product_cate_large = #{selectedCateName}
					</when>
					<when test='selectedType == "M"'>
						c.product_cate_medium = #{selectedCateName}
					</when>
					<when test='selectedType == "S"'>
						c.product_cate_small = #{selectedCateName}
					</when>
				</choose>
			</if>
		    <where>
					p.product_name LIKE '%' || #{keyword} || '%' 
					OR p.product_deal_area LIKE '%'|| #{keyword} ||'%'
		    </where>
		   	GROUP BY 
	    <choose>
			<when test='selectedType == "L"'>
				c.product_cate_medium
			</when>
			<when test='selectedType == "M"'>
				c.product_cate_small
			</when>
			<otherwise>
				c.product_cate_large
			</otherwise>
		</choose>
		    
		) result
		INNER JOIN product_cate_tb c2
		ON 
		<choose>
			<when test='selectedType == "L"'>
				c2.product_cate_medium  = result.product_cate_medium 
			</when>
			<when test='selectedType == "M"'>
				c2.product_cate_small = result.product_cate_small
			</when>
			<otherwise>
				c2.product_cate_large = result.product_cate_large
			</otherwise>
		</choose>
		AND c2.product_cate_type = 
		<choose>
			<when test='selectedType == "L"'>
				'M'
			</when>
			<when test='selectedType == "M"'>
				'S'
			</when>
			<otherwise>
				'L'
			</otherwise>
		</choose>
	</select>
	
	<select id="allProductCntByKeyword" parameterType="String" resultType="int">
		SELECT count(1)
		FROM product_tb
		<where>
            product_name LIKE '%'|| #{keyword} ||'%' OR 
            product_deal_area LIKE '%'|| #{keyword} ||'%'
		</where>
	</select>
	
	<select id="selectProductNameByKeyword" parameterType="String" resultType="String">
		SELECT (
		    product_name
		) FROM (
		    SELECT product_name, ROWNUM rnum
		    FROM (
		    SELECT DISTINCT (product_name)
		    FROM product_tb
		    WHERE product_name LIKE '%' || #{keyword} || '%' AND product_disp_st NOT IN ('D', 'P', 'F')
		    ) a
		)
		WHERE <![CDATA[rnum <= 10]]>
	</select>
	
	
	
</mapper>