charset "UTF-8";

select{
	border : none;
	border-radius:0;
	apperance : none;
}

.total-nav-selected {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	position: relative;
	color: rgb(255, 80, 88);
	flex: 1 1 0%;
}
.total-nav {
	height: 44px;
	display: flex;
	background: rgb(255, 255, 255);
}

.total-nav-selected>a {
	cursor: pointer;
	text-decoration: none;
}

.total-nav-selected>a {
	background-color: transparent;
}

.total-nav-selected-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: rgb(255, 80, 88);
}

.total-nav-not-selected {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	position: relative;
	flex: 1 1 0%;
}

.total-nav>a {
	color: rgb(33, 33, 33);
	cursor: pointer;
	text-decoration: none;
}

.total-nav>a {
	background-color: transparent;
}

.qna-body {
	background-color: white;
}

.qna-body2 {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 18px 0px 100px;
	background: rgb(249, 249, 249);
}

.qna-main {
	width: 1024px;
}

.qna-nav {
	height: 44px;
	display: flex;
	background: rgb(255, 255, 255);
}

.qna-nav-selected {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	position: relative;
	color: rgb(255, 80, 88);
	flex: 1 1 0%;
}

.nav-selected-underline {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: rgb(255, 80, 88);
}

.qna-nav-selected {
    color: rgb(255, 80, 88);
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}
.qna-nav-selected-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: rgb(255, 80, 88);
}

.qna-nav-not-selected {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 600;
	position: relative;
	flex: 1 1 0%;
	color: rgb(33, 33, 33);
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}
.qna-nav-selected:hover{
	color : rgb(255, 80, 88);
}
.qna-nav-not-selected:hover{
	color : black;
	
}

.qna-contents {
	margin-top: 10px;
}

.qna-contents-selbox {
	width: 100%;
	margin-bottom: 5px;
	background: rgb(255, 255, 255);
}

.selbox-container {
	position: relative;
	box-sizing: border-box;
}

.qna-contents-selbox-box {
	width: 100%;
	height: 3rem;
	display: flex;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(195, 194, 204);
	border-image: initial;
	border-radius: 2px;
}

.selbox_size {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	box-sizing: border-box;
	flex: 1 1 0%;
	padding: 2px 8px;
	overflow: hidden;
}



.selbox-arrow {
	background-size: 1rem 1rem;
	width: 2rem;
	height: 100%;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiM1RTVDNkIiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNC44YzAgLjIyOS4wOTguNDQ2LjI3LjU5OGw3LjIgNi40YS44LjggMCAwIDAgMS4wNjEgMGw3LjItNi40YS44LjggMCAxIDAtMS4wNjItMS4xOTVMOCAxMC4xMyAxLjMzMSA0LjIwM2EuOC44IDAgMCAwLTEuMzMuNTk3Ii8+Cjwvc3ZnPgo=);
	background-position: 0px center;
	background-repeat: no-repeat;
}

.qna-contents-selbox {
	width: 100%;
	margin-bottom: 5px;
	background: rgb(255, 255, 255);
}


.qna-contents-selbox-box {
	width: 100%;
	height: 3rem;
	display: flex;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(195, 194, 204);
	border-image: initial;
	border-radius: 2px;
}

.selbox_size {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	box-sizing: border-box;
	flex: 1 1 0%;
	padding: 2px 8px;
	overflow: hidden;
}

/* .reason2{
	color: rgb(51, 51, 51);
	margin-left: 2px;
	margin-right: 2px;
	max-width: calc(100% - 8px);
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	overflow: hidden;
} */




.qna-contents-textarea {
	width: 100%;
	resize: none;
	font-size: 12px;
	line-height: 1.4;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238);
	border-image: initial;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	text-align: left;
	color: rgb(33, 33, 33);
	letter-spacing: -0.5px;
	outline: 0px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	overflow: auto;
}

.img-outline-box {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.img-box {
	width: 164px;
	margin-right: 8px;
	position: relative;
}

button {
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.addImg {
	width: 164px;
}

img {
	vertical-align: bottom;
}

img {
	border-style: none;
}

.delImgBtn{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 13px;
	background: rgba(0, 0, 0, 0.4);
}

.qna-btn-group {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 10px;
}

.qna-add-file {
	width: 150px;
	height: 38px;
	color: rgb(255, 80, 88);
	cursor: pointer;
	position: relative;
	border-radius: 2px;
	padding: 0px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	text-align: left;
}

.qna-add-file::after {
	content: "사진첨부";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	font-weight: 500;
	background: rgb(255, 255, 255);
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(245, 245, 245);
	border-image: initial;
}

.qna-btn-submit {
	width: 150px;
	height: 38px;
	text-align: center;
	font-weight: 500;
	color: rgb(255, 255, 255);
	border-radius: 2px;
	background: rgb(255, 80, 88);
	border: none;
}

.reason {
	width: 1000px;
	height: 30px;
	border: none;
	font-size: 15px;
	color: rgb(51, 51, 51);
	margin-left: 2px;
	margin-right: 2px;
	max-width: calc(100% - 8px);
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	overflow: hidden;




}