@charset "UTF-8";

.consulting_list_div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 18px 0px 100px;
    background: rgb(249, 249, 249);
}

.consulting_list_main{
    width: 1024px;
    display: block;
}

.consulting_list_nav{
    height: 44px;
    display: flex;
    background: rgb(255, 255, 255);
}

a {
    color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}
a {
    background-color: transparent;
}
button {
    cursor: pointer;
    outline: none !important;
}

.wait{
	color: rgb(33, 33, 33);
}


.consulting_list_nav_a1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    flex: 1 1 0%;
}

.consulting_list_nav_a2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    color: rgb(255, 80, 88);
    flex: 1 1 0%;
}

.title_hover{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 80, 88);
}

.qna_list{
    margin-top: 10px;
    list-style: none;
    width: 1024px;
    padding-left: 0px;
    
}


.qna_article{
    position: relative;
    will-change: height;
    overflow: hidden;
    transition: height 300ms ease-out 0s;
	display: flex;
	flex-direction: column;
    flex: 1 1 0%;
}

.qna_open_btn{
    height: 75px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
    border : none;

}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}


.qna_intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    flex: 1 1 0%;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.qna_reg_time{
    margin-top: 10px;
    color: rgb(153, 153, 153);
    font-weight: 400;
}

.qna_reply_flag{
    margin-right: 30px;
    height: 40px;
    color: rgb(255, 80, 88);
    font-size: 13px;
}

.qna_arrow{
   /*  transform: rotate(180deg); */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAYAAAAI0W+oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNqslK1Pw1AUxV9fmoq5Ldl/MCSaBLkEAQkIPgxzTUABjoRMsAJmCQ4HJGAAw8yCwGFQaCyOKSpgZmIGzk1OyU1Zu7fRm/yWvtvec1777p0XRVFgjLkGZ+DFFBtzYBeEPn5uwAZYAPPgrSCTGngAVRBY/HTBNxOPoFKASYVaVWp3xegWRGoX97KDf5gE1KhxfSwelosTGkrUwRXwpjDxWFvnWjSP5CIxktcLwRPXDdCawqjFWkOtkNq/RhJDsKaa4VAVuUSDNYYa69Q0aSOJL7AI4hGfIS/0546p8akfsCOKZDfLYMCD7aiDzWrjDp8dsPbPiNiMYhncLX7fsmrVdCQjUeaz21lDb3N2egeaqeErqfsl5pK3barOnchIog3O1d/JBc9BuGTO8LqdJ+Q7HPQemOGBS2e9M7+p2nhnnIiLkbToKngGs+BA3XvlveE4Ees4I32wBD5ULmau7yLgTzCQPbAC9rk+Zc4pfgQYAOZsSsrHKCoBAAAAAElFTkSuQmCC);
    background-size: cover;
    width: 13px;
    height: 8px;
    will-change: transform;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 300ms ease-out 0s;
}

.qna_article_rotate{
    transform: rotate(180deg);
}

.bold_text{
	font-weight : bold;
}
.qna_section{
    padding: 25px 18px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display : none;
}

.question_section{
    position: relative;
    padding-bottom: 25px;
}

.qna_section_align{
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

.qna_content_title{
    display: flex;
    width: 100%;
    height: 64px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(238, 238, 238);
    
}

.qna_logo_img{
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: bottom;
    border-style: none;
}

 .qna_font_div{
    color: rgb(255, 80, 88);
} 

.answer_h2{
    font-weight: 600;
    color : rgb(255, 80, 88) !important;
}

.answer_time{
    font-size: 13px;
    font-weight: 400;
    color : rgb(255, 80, 88) !important;
}

.question_h2{
    font-weight: 600;
    color : black !important;
}

.question_time{
    font-size: 13px;
    font-weight: 400;
    color : black !important;
}

.to_anther_question{
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: underline;
}

.qna_content{
    line-height: 1.4;
    white-space: pre-wrap;
    text-align : start;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.answer_section{
	position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.answer_section:last-child{
    padding-bottom: 0px;
    border-bottom: 0px;
}


.total-nav {
    height: 44px;
    display: flex;
    background: rgb(255, 255, 255);
}

.total-nav-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    font-color: rgb(255, 80, 88);
    flex: 1 1 0%;
}


.total-nav-selected > a {

    cursor: pointer;
    text-decoration: none;
}

.total-nav-selected > a {
    background-color: transparent;
}

.total-nav-selected-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 80, 88);
}
.total-nav-not-selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    flex: 1 1 0%;
}
/* 
.total-nav > a {
    color: rgb(33, 33, 33);
    cursor: pointer;
    text-decoration: none;
}

.total-nav > a {
    background-color: transparent;
} */