<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.user.main.respository.IMainMapper">
	<resultMap id="popularCateMap" type="com.nemo.user.main.vo.PopularCateVO">
		<id column="product_cate_no" property="productCateNo"/>
		<result column="admin_reg_id" property="adminRegId"/>
		<result column="admin_edit_id" property="adminEditId"/>
		<result column="product_cate_type" property="productCateType"/>
		<result column="product_cate_large" property="productCateLarge"/>
		<result column="product_cate_medium" property="productCateMedium"/>
		<result column="product_cate_small" property="productCateSmall"/>
		<result column="product_cate_order" property="productCateOrder"/>
		<result column="product_cate_del_fl" property="productCateDelFl"/>
		<result column="product_cate_reg_ymd" property="productCateRegYmd"/>
		<result column="product_cate_edit_ymd" property="productCateEditYmd"/>
	</resultMap>
	
	<select id="getPopularCateList" resultMap="popularCateMap">
		 SELECT 
        	product_cate_large, product_cate_no
		 FROM 
		 	product_cate_tb
    	WHERE 
    		ROWID IN(SELECT MAX(ROWID) FROM product_cate_tb GROUP BY product_cate_large)
	</select>

</mapper>