<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nemo.user.main.respository.IMainMapper">
	<resultMap id="recommendProductMap" type="com.nemo.user.main.vo.RecommendProductVO">
		<id column="product_no" property="productNo"/>	
		<result column="product_seller" property="productSeller"/>
		<result column="product_cate_no" property="productCateNo"/>
		<result column="product_name" property="productName"/>
		<result column="product_deal_area" property="productDealArea"/>
		<result column="product_used_st" property="productUsedSt"/>
		<result column="product_disp_st" property="productDispSt"/>
		<result column="product_exch_st" property="productExchSt"/>
		<result column="product_sold_dt" property="productSoldDt"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_free_shipping_st" property="productFreeShippingSt"/>
		<result column="product_info" property="productInfo"/>
		<result column="product_tag" property="productTag"/>
		<result column="product_qty" property="productQty"/>
		<result column="product_reg_dt" property="productRegDt"/>
		<result column="product_edit_dt" property="productEditDt"/>
		<result column="product_view" property="productView"/>
	</resultMap>
	
	<select id="getRecommendProductList" parameterType="com.nemo.user.main.vo.RecommendProductVO" resultMap="recommendProductMap">
		SELECT *
		FROM 
            (SELECT *
             FROM product_tb
             ORDER BY product_view DESC
             )
		WHERE
			product_disp_st NOT IN ('D', 'P') AND ROWNUM &lt; 5
	</select> 
	<select id="getRecommendProductList2" parameterType="com.nemo.user.main.vo.RecommendProductVO" resultMap="recommendProductMap">
		SELECT *
		FROM 
            (SELECT *
             FROM product_tb
             ORDER BY product_reg_dt DESC
             )
		WHERE
			product_disp_st NOT IN ('D', 'P') AND ROWNUM &lt; 5
		
	</select> 
	<select id="getRecommendProductList3" parameterType="com.nemo.user.main.vo.RecommendProductVO" resultMap="recommendProductMap">
		SELECT *
		FROM 
            (SELECT *
             FROM product_tb
             ORDER BY product_tag ASC
             )
		WHERE
			product_disp_st NOT IN ('D', 'P') AND ROWNUM &lt; 5
	</select> 
</mapper>