@charset "UTF-8";

/********** footer **********/
    footer {
        background-color: white;
        color : #999999;
        margin-bottom : 24px;
        font : 13px "Noto Sans KR", sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .footer-border {
      	width:100%;
      	display: flex;
      	flex-direction: row;
      	justify-content: center;
      	border-top: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(238, 238, 238);
      }

      .footer_menu {
      display: flex;
	  flex-direction: row;
      justify-content: space-evenly;
      font-size: 13px;
      color: rgb(77, 77, 77);   
      width: 1024px;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
 	.footer_copyright {
 		padding: 32px 0px 24px;
 	}

    /* footer 메뉴 구분*/
    .menu_list::after {
        content: "";
        position: relative;
        top: 0px;
        right: 0px;
        width: 1px;
        height: 14px;
        box-sizing: border-box;
        border-right: 1px solid rgb(204, 204, 204);
        padding-right : 85px;
        
    }

    #about{
        color : black;
        margin-left : 5px;
        margin-bottom : 35px;
        font-size : 14px;
        font-family : 'Noto Sans KR'
    }

    #about-sns{
        width : 150px;
        float : right;

    }

    .footer__logo {
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	margin-bottom: 4px;
    	
    }
    
    .footer__logo a{
    	display: flex;
    	flex: 1 1 0%;
    	height: 16px;
    	margin-left: 16px;
    }	
	
	.footer__logo a > img {
		margin-right: 8px;
	}
    