@charset "UTF-8";

header {
	font-family: Noto Sans KR;
	box-sizing: border-box;
	font-size: 14px;
}

button {
	font-size: 13px;
	font-family: "Noto Sans KR", "sans-serif";
	color: rgb(66, 66, 66);
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

#searchIconBtn {
	outline: 0px;
}

a {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	font-size: 13px;
	color: rgb(66, 66, 66);
	font-family: "Noto Sans KR", "sans-serif";
}

a:hover {
	text-decoration: none;
}


.nav-box {
	display: flex;
	flex-shrink: 0;
}

.add-fav {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 13px;
	color: rgb(102, 102, 102);
	position: relative;
	line-height: 1.4;
	padding: 0px 15px;
}

.logout {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 13px;
	color: rgb(102, 102, 102);
	position: relative;
	line-height: 1.4;
	padding: 0px 15px;
}

/* 알림 시작 */
.alert-content-box {
	position: absolute;
	width: 400px;
	max-height: 450px;
	overflow-y: auto;
	top: 100%;
	left: calc(50% - 200px);
	display: none;
	z-index: 30;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238);
	border-image: initial;
	background: rgb(249, 249, 249);
}

.alert-anchor {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(33, 33, 33);
	background: rgb(255, 255, 255);
	padding: 20px;
	border-bottom: 1px solid rgb(250, 250, 250);
}

.com-outline {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 13px;
	color: rgb(102, 102, 102);
	position: relative;
	line-height: 1.4;
	padding: 0px 15px;
	height: 40px;
}

.alert-position {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.com-outline::after {
	content: "";
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAGxJREFUKBWt0s0NgDAIBWDbztS747CFdQvGcQBmAoOJiT+0ovUl3B7f6QUAKMw8DT8kxjgnIlpyzkFExh5TMUQsSZFedMfU2sAe9IidwC/oFbuBb1ALM0EPWsOqYAttYU3QQp8w/XFFx6/nKa8iD1fC7ZiLwQAAAABJRU5ErkJggg==);
	background-size: 10px 5px;
	position: absolute;
	top: 18px;
	right: 0px;
	width: 10px;
	height: 5px;
	cursor: default;
}

.alert-font {
	display: block;
	font-size: 13px;
	color: rgb(102, 102, 102);
}

/* 알림 끝 */
.dropdown-position {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.dropdown-anchor {
	display: block;
	font-size: 13px;
	color: rgb(102, 102, 102);
}

.dropdown-box {
	position: absolute;
	width: 88px;
	top: 100%;
	left: calc(50% - 44px);
	display: none;
	z-index: 20;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238);
	border-image: initial;
	padding: 15px 20px;
	background: rgb(255, 255, 255);
}

.dropdown-menu {
	display: block;
	text-align: center;
	margin-bottom: 10px;
	color: rgb(136, 136, 136);
}

.dropdown-menu:last-child {
	margin-bottom: 0px;
}

/********** header 시작 **********/
header {
	background-color: white;
}

.main_header {
	display: flex;
	flex-direction:column;
	justify-content:center;
	padding-top: 35px;
	background-color: white;
	border-bottom: 1px solid rgb(238, 238, 238);
	position: sticky;
	height: 146px;
	padding-left: 0px!important;
	padding-right: 0px!important;
	align-items: center;
}

button, input {
	padding: 0px;
	border-width: 0px;
}

/* 메인 로고 */
/* #main-logo {
	background-size: cover;
	width: 100%;
	height: 40px;
} */

#main-logo-area {
    width: 136px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* 검색 필드 */
#searching {
	direction: ltr;
	text-align: left;
	color: rgb(33, 33, 33);
	letter-spacing: -0.5px;
	outline: 0px;
	font: 13px "Noto Sans KR", sans-serif;
	width: 100%;
}

/* 검색 아이콘 */
#search-icon {
	width: 1rem;
	height: 1rem;
	align-items: flex-end;
}

#store-icon {
	width: 1.5rem;
	height: 1.5rem;
}

#sell-icon {
	width: 1.5rem;
	height: 1.5rem;
}
/*
	검색창 CSS============================================================================================
*/

/* invisible */
.invisible {
	display: none;
}
/* ===================================검색검색검색===========================================*/
.flex {
	display: flex;
	align-items: center;
	width: 1024px;
	height: 40px;
	justify-content: space-between !important;
	padding: 0px !important;
	margin: 0 !important;
	margin-top: 35px;
}

.main_menu {
	width: 328px;
	height: 26px;
}

.my-menu {
	justify-content: space-around;
}

.my-menu-box::after {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	width: 1px;
	height: 14px;
	box-sizing: border-box;
	border-right: 1px solid rgb(204, 204, 204);
	padding-right: 22px;
	margin-right: 20px;
}

#menu-container {
	width: 1024px;
}

.categories {
	width: 1024px;
	height: 70px;
	/* padding-left : 250px; */
	padding-right: 250px;
	margin-top: 0px;
	background-color: white;
}

/* categories hamburger menu(header) */
ul {
	list-style: none;
	width: 400px;
}

a {
	text-decoration: none;
	color: black;
}

#menu-wrapper {
	overflow: hidden;
	max-width: 55px;
	cursor: pointer;
}

#menu-container .menu-list .menu-submenu {
	padding: 0;
}

#menu-container .menu-list .menu-submenu li a {
	display: block;
	padding: 10px 0 10px 20px;
}

#menu-container .menu-list .menu-submenu li a:hover {
	background: #eee;
}

#menu-container .menu-list {
	padding-left: 0;
	display: block;
	position: absolute;
	width: 100%;
	max-width: 400px;
	background: white;
	box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
	z-index: 999;
	overflow-y: auto;
	overflow-x: hidden;
	left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login
	{
	font-size: 16px;
	padding: 20px;
	text-transform: uppercase;
	border-top: 1px solid #dbdcd2;
}

#menu-container .menu-list li:first-of-type {
	border-top: 0;
}

.accordion-toggle, .accordion-content {
	cursor: pointer;
	position: relative;
	letter-spacing: 1px;
}

.accordion-toggle a {
	color: black;
	font-size: 18px;
}

.accordion-toggle a:hover {
	font-weight: 900;
	font-size: 18px;
}

.accordion-content {
	display: none;
	font-size: 16px;
}

.accordion-content a {
	font-size: 16px;
}

.accordion-toggle a:before, .accordion-toggle a:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 30px;
	width: 15px;
	height: 2px;
	margin-top: -1px;
	background-color: #5a5858;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	opacity: 1;
	z-index: 2;
}

.accordion-toggle.active-tab {
	background: red;
	transition: all 0.3s ease;
}

.accordion-toggle a.active:before {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	background: #fff !important;
}

.accordion-toggle a.active:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	background: #fff !important;
	opacity: 0;
}

/* main contents */
.main-recommand--products {
	width: 939px;
	height: 350px;
	background-color: lawngreen;
}

.cate-icon--area {
    display: flex;
    align-items: center;
    height: 70px;
    width: 1024px;
}

.cate-icon--div {
	margin-right: 20px;
    position: relative;
}

.cate-icon--div svg {
	width: 30px!important;
    height: 22px;
}

.cate-icon--div > i {
	font-size: 16px;
}

.cate-icon--div:hover svg {
	color: #EE5058;
}


.cate-menu--area {
	top: calc(100% + 28px);
    left: 0px;
    width: 240px;
    z-index: 10;
    position: absolute;
    height: 513px;
    border-left: 1px solid rgb(238, 238, 238);
    display: none;
}

.cate-menu--list {
	width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.cate-menu--list:nth-child(2){
	width: 240px;
    top: 0px;
    left: 239px;
    position: absolute;
}

.cate-menu--list:nth-child(3){
	top: 0px;
    left: 479px;
    position: absolute;
}

.cate-menu-list--title {
	height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 700;
    padding: 0px 30px;
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    font-size: 14px;
    font-weight: bold;
    font-family: "Noto Sans KR";
}



.cate-menu-list--title svg,
.cate-menu-list-md--title svg,
.cate-menu-list-sm--title svg{
	width: 6px !important;
	height: 9px;
	color: #EE5058;
}

.cate-menu-list--body {
	height: calc(100% - 40px);
    overflow-y: auto;
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px 25px;
}

.cate-menu--link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    padding: 0px 30px;
}

.cate-menu--link--selected {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    color: rgb(255, 255, 255)!important;
    padding: 0px 30px;
    background: rgb(246, 68, 72);
}

.cate-menu-list-md--title {
	height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 30px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    font-size: 14px;
    font-family: "Noto Sans KR";
}

.cate-menu-list-sm--title {
	height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 30px;
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    font-size: 14px;
    font-family: "Noto Sans KR";
}

.cate-menu-sub-link {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    color: rgb(102, 102, 102);
    padding: 0px 30px;
}

.cate-menu-sub-link:hover,
.cate-menu-sub-link--selected:hover {
	text-decoration: none;
}

.sub-link-text {
	display: inline-block;
    height: 18px;
    box-sizing: border-box;
    font-size: 14px;
    text-size-adjust: 100%
}

.sub-link-text--selected {
	display: inline-block;
    height: 18px;
    box-sizing: border-box;
    color: rgb(246, 68, 72);
    font-size: 14px;
    border-bottom: 1px solid rgb(246, 68, 72);
}

.item--nothing {
	font-size: 14px;
	font-family: "Noto Sans KR";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-36px, -50%);
	overflow-x: hidden;
}
/* */
.search-area {
	width: 460px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(247, 47, 51);
    border-image: initial;
    
}


.search-input {
	width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 15px;
}

.search-input__input {
	color: rgb(102, 102, 102);
    flex-grow: 1;
    font-size: 13px;
}

.search-input__input:focus {
	outline: 0px;
}

.search-icon {
	width: 16px;
	height: 16px;
	color: #EE5058;
}

.search-box {
	display: none;
	position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    z-index: 10;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-image: initial;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.search-recently__area {
    padding: 0px 15px;
    display: none;
}

.recently-header {
    display: flex;
}

.recently-header button:focus {
	outline: 0px;
}

.recently-menu,
.popular-menu {
	-webkit-box-flex: 1;
    flex-grow: 1;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding: 25px 0px 10px;
    border-bottom: 2px solid rgb(217, 217, 217);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.menu--selected {
	border-bottom: 2px solid rgb(247, 47, 51);
    color: rgb(247, 47, 51)!important;
}

.recently-body {
	height: 360px;
    overflow: hidden;
}

.recently-area {
	height: 100%;
}

.recently-div {
	height: 100%;
}

.recently-nothing {
	width: 100%;
    height: 100%;
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: rgb(136, 136, 136);
}

.recently-nothing svg {
	width: 45px;
	height: 52px;
	color: rgb(136, 136, 136);
}

.popular-area {
	height: 100%;
	display: none;
}

.popular-div {
	display: flex;
    height: 100%;
    padding: 20px 12px;
}

.popular-list {
	-webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
}

.popular-link {
	font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
}

.popular-rank {
	width: 35px;
    font-weight: 700;
    color: rgb(247, 47, 51);
}


.search-close__area {
	width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    background: rgb(250, 250, 250);
    padding: 0px 25px;
}

.search-close {
    color: rgb(179, 179, 179)!important;
    font-size: 14px;
}

.search-all-delete__area{
	display: none;
	font-size: 13px;
    color: rgb(179, 179, 179)!important;
}

.search-all-delete__area svg {
    margin-right: 5px;
}

.recently-list {
    padding: 20px 0px;
}

.recently-list button {
	outline: 0px;
}

.recently-item {
	display: flex;
    height: 37px;
    padding-left: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.recently-item--title {
    font-size: 14px;
}

.recently-item--delete {
	height: 100%;
    padding: 0px 12px;
}

.recently-item--delete svg {
	color: #AAAAAA;
}

.box-search {
	height: 410px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.store-search {
	padding: 10px 0px 6px;
    border-bottom: 1px solid rgb(249, 249, 249);
}

.store-search-link {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 25px;
    font-size: 14px;
}

.store-search-link svg {
	color: #AAAAAA;
	margin-right: 5px;
}

#searchKeyword {
	color: rgb(247, 47, 51);
    margin: 0px 5px;
    word-spacing: -1px;
    letter-spacing: -1px;
}

.store-search-span {
    color: rgb(136, 136, 136);
}

.search-result-list {
	display: block;
    padding: 10px 0px;
}

.search-result-item {
	display: block;
    padding: 10px 25px;
}

.result-item {
	color: rgb(247, 47, 51);
	font-size: 14px;
}


.popular-link:hover {
	background-color: #EEEEEE;
	color: #EE5058;
	font-weight: bold;
}