@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.signin-all{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 0px;
}

label {
	margin: 0;
}
.signin-form {
    width: 570px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;
    background: rgb(255, 255, 255);
    padding: 60px;
}

.signin-title {
    font-size: 30px;
}

.signin-box {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.info-input-outline{
    margin-bottom: 45px;
}
.signin-common-margin{
    margin-bottom: 5px;
}

.input-box:last-child {
    margin-bottom: 0px;
}
.input-box {
    height: 50px;
    box-shadow: rgb(76, 76, 76) 0px 1px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: flow;
}

.veridation-msg {
    color: rgb(247, 47, 51);
    font-size: 13px;
    margin-top: 10px;
}

.signin-img{
        width: 40px;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
}

.input-box .verify {
    background-color: #EE5058;
    cursor: pointer;
}
.input-box .verify--active {
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}





.input-box input {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.input-box button {
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 2px;
    margin: 0px 7px 0px 20px;
    background: rgb(179, 179, 179);
}

.input-box button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.input-box button {
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 2px;
    margin: 0px 7px 0px 20px;
    background: rgb(179, 179, 179);
}

.signin-select{
    display : flex;
    
}
.select-for-recommend{
    width: 100%;
    display : flex;
    flex-flow: column;
}
.select-space-right{
    padding-right : 10px;
}

.select-space{
    padding-left : 20px;
    padding-right : 10px;
}

.terms-check-outline{
    margin-bottom: 50px;
}

.terms-check-box{
    display : flex;
}
.all-check-outline{
        display: flex;
        align-items: center;

}
.check-margin{
    margin-bottom: 20px;
}
.terms-check{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
}

.term-checked{
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: relative;
        background: rgb(247, 47, 51);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(247, 47, 51);
        border-image: initial;
        transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
}
.terms-check::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 8px;
    height: 14px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgb(204, 204, 204);
}
.terms-check::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 0px;
    height: 0px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: width 0.1s ease-out 0s, height 0.1s ease-out 0.1s;
}
.checkbox-info{
    margin-left: 12px;
    flex-grow: 1;
}
.check-padding{
    padding-left: 24px;
}
.mandatory{
    color: rgb(247, 47, 51);
    margin-right: 5px;
}

.show-btn{
    flex-shrink: 0;
}
.hide-btn{
    flex-shrink: 0;
}


.hide-btn img {
    transform: rotate(180deg);
    transition: all 0.5s ease 0s;
}

.show-btn img {
    transition: all 0.5s ease 0s;
}


.hide-term{
    margin-top: 5px;
    max-height: 0px;
    line-height: 1.4;
    overflow: hidden;
   transition: max-height 0.5s ease 0s;
        
}
.show-term{
    margin-top: 5px;
    line-height: 1.4;
    max-height: 150px;
    overflow: hidden auto;
    transition: max-height 0.5s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}
.terms-second-scroll{
 
        color: rgb(204, 204, 204);
        font-size: 13px;
       /*  white-space: pre-wrap; */
        background: rgb(249, 249, 249);
    
}
.terms-second-scroll >iframe {

        width: 100%;
        height: 100%;
}
.suggest{
    color: rgb(136, 136, 136);
    margin-right: 5px;
}
.fyi{
    color: rgb(136, 136, 136);
}
.signup-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.signup-btn{

        color: rgb(255, 255, 255);
        width: 100%;
        height: 56px;
        text-align: center;
        font-size: 18px;
        background: rgb(247, 47, 51);
}


.select-form {
    width: 100%;
}


.hide {
    display: none;
}






/* common */
button, input[type="text"], input[type="tel"], input[type="number"] {
    appearance: none;
}

button, input {
    padding: 0px;
    border-width: 0px;

}

body, input, textarea, select, button {
    
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border-width: 0px;
    border-style: none;

}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

input[type="text" i] {
    padding: 1px 2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    
}



body {
    background-color: rgb(249, 249, 249);
    font-size: 14px;
}

html, body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: rgb(33, 33, 33);
}


body {
    line-height: 1;
}


.gender-check {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #AAAAAA;
}

.gender-check > *:first-child,
.birth-year > *:first-child {
    margin-right: 0px;
    margin-bottom: 0px;
}
.gender-check > *,
.birth-year > * {
    font-size: 1rem;
    margin-right: 10px;
    
}

.gender-check > *:last-child
.birth-year > *:last-child {
    margin-right: 0;
    font-size: 1rem;
    font-weight: 500;
}

.birth-year {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #AAAAAA;
}

.info-gender-outline {
    display: flex;
    flex-flow: row;
}


.birth-year .i-img {
    width: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.birth-year svg {
    font-size: 20px;
    color: #AAAAAA;
}

.birth-year > select {
    border: 1px solid #DDDDDD;

}

.gender-check label input[type="radio"]:before{
    margin-right: 20px;
}