<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nemo.user.store.repository.impl.StoreMapper">
	<resultMap type="com.nemo.user.store.vo.StoreProductDispStVO" id="storeProductDispStMap">
		<id column="product_no" property="productNo"/>
		<result column="store_no" property="storeNo" />
		<result column="product_seller" property="productSeller" />
		<result column="product_disp_st" property="productDispSt" />
	</resultMap>
    
    <select id="getStoreProductDispStList" parameterType="int" resultMap="storeProductDispStMap">
    	SELECT 
			prod.*
		FROM
			product_tb prod, user_tb sto
		WHERE
			sto.store_no(+) = prod.product_seller and prod.product_seller=#{storeNo} and product_disp_st='F'
    </select>
    
</mapper>